<h4 class="widgettitle">Acesso Negado</h4>
<div class="widgetcontent">
    
    <p class="text-warning">Você não tem permissão para acessar esse link ou executar essa ação.</p>
    <p><a href="" onclick="return voltar();">Voltar</a></p>
    
</div><!--widgetcontent-->
                        

<script>
function voltar()
{
    window.history.back();
    return false;
}
</script>    