<hr />

<ol class="breadcrumb bc-3" >
    <li>
        <a href="index.html"><i class="fa-home"></i>Home</a>
    </li>
    <li class="active">
        <strong>Editar Conta</strong>
    </li>
</ol>

<h2>Editar Conta</h2>

<?php echo $this->partial('manager/partials/list-messages'); ?>
<br />

<?php
$form = $this->form;
$form->prepare();
$form->setAttribute('class', 'form-horizontal form-groups-bordered');
$form->setAttribute('role', 'form');
?>

<div class="row">
    <div class="col-md-12">
        
        <?php if(count($form->getMessages() ) > 0): ?>
        <div class="alert alert-danger">
            <strong>Alerta!</strong>
            Verifique os campos abaixa e reenvie novamente os dados.
        </div>
        <?php endif; ?>
        
        <div class="panel panel-primary" data-collapsed="0">
            
            <div class="panel-heading">
                
                <div class="panel-title">
                    Dados
                </div>
                
            </div>

            <div class="panel-body">
                <?php
                echo $this->form()->openTag($form);
                ?>
                
                    <?php echo $this->formHidden($form->get('id')); ?>
                
                    <?php 
                    $form->get('account')->setValue(1);
                    echo $this->formHidden($form->get('account'));        
                            
                    ?>
                    <?php echo $this->renderField($form->get('first_name')); ?>
                    <?php echo $this->renderField($form->get('last_name')); ?>
                    <?php echo $this->renderField($form->get('email')); ?>
                    <?php echo $this->renderField($form->get('phone')); ?>
                    <?php echo $this->renderField($form->get('new_password')); ?>
                    <?php echo $this->renderField($form->get('confirm_new_password')); ?>
                    
                    <div class="form-group">
                        <label class="col-sm-3 control-label"><?php echo $form->get('photo')->getLabel(); ?></label>

                        <div class="col-sm-5">
                            <?php $photo = $form->get('photo')->getValue(); ?>
                            <?php if($photo != ''): ?>
                                <img src="/media/users/<?php echo $photo; ?>" style="width: 300px" /><br/><br/>
                            <?php endif; ?>
                                
                            <?php echo $this->formFile($form->get('photo'))?>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-5">
                                <button type="submit" class="btn btn-default btn-green">Salvar</button>
                        </div>
                    </div>
                    
                <?php echo $this->form()->closeTag(); ?>

            </div>

        </div>
        
    </div>
</div>
	
<?php $this->inlineScript()->appendFile($this->basePath() . '/js/admin/users/control-checkbox.js');  ?>