<?php //$this->headLink()->appendStylesheet($this->basePath() . '/css/contato.css'); ?>

<?php $this->headScript()->appendFile($this->basePath() . '/js/vendor/jquery.mask.js')
                          ->appendFile($this->basePath() . '/js/util/validacoes.js')
                          ->appendFile($this->basePath() . '/js/util/cidades-estados.js')
                          ->appendFile($this->basePath() . '/js/site/contact.js') ?> 

<h2>Contato</h2>

<?php
$form = $this->form;
$form->prepare();
echo $this->form()->openTag($form);
?>

        <?php echo $this->formLabel($form->get('name')); ?>*<br>
        <?php echo $this->formInput($form->get('name')); ?><br>

        <?php 
        $erros =  $form->get('name')->getMessages(); 
        $numErros = count($erros);  
        if( $numErros > 0):  ?>
        <?php foreach($erros as $chave => $msg): ?>
            <div class="box-erro">
            <?php echo $msg; ?>
            </div>
        <?php endforeach; ?>
        
        <?php endif; ?>
        
        <?php echo $this->formLabel($form->get('email')); ?><br>
        <?php echo $this->formInput($form->get('email')); ?><br>
        <?php 
        $erros =  $form->get('email')->getMessages(); 
        $numErros = count($erros);  
        if( $numErros > 0):  ?>
            <div class="box-erro">
            Informe um e-mail válido.
            </div>
        <?php endif; ?>
        
            
        <?php echo $this->formLabel($form->get('phone')); ?><br>
        <?php echo $this->formInput($form->get('phone')); ?><br>
        <?php 
        $erros =  $form->get('phone')->getMessages(); 
        $numErros = count($erros);  
        if( $numErros > 0):  ?>
            <?php foreach($erros as $chave => $msg): ?>
            <?php echo $msg; ?>
        <?php endforeach; ?>
        <!-- BOX ERRO ALERTA -->
        <br/>

        <?php endif; ?>
        
        
        
        <?php echo $this->formLabel($form->get('message')); ?><br>
        <?php echo $this->formTextarea($form->get('message')); ?><br/>
        <?php 
        $erros =  $form->get('message')->getMessages(); 
        $numErros = count($erros);  
        if( $numErros > 0):  ?>
            <?php foreach($erros as $chave => $msg): ?>
                <?php echo $msg; ?>
            <?php endforeach; ?>
        <?php endif; ?>
        <br/>
        
        
        <?php 
        
        $form->get('captcha')->setLabel("Captcha Rocks");
        
        //var_dump(get_class_methods( get_class($form->get('captcha')->getCaptcha()) )); 
        //echo __LINE__.'<br/>'; echo "<pre>";var_dump( $form->get('captcha')->getCaptcha() ); exit();
        //var_dump(get_class_methods( get_class($form->get('captcha')) )); 
        //var_dump($form->get('captcha'));
        
        ?>
        
        <?php echo $this->formLabel($form->get('captcha')); ?><br>
        <?php echo $this->formElement($form->get('captcha')); ?><br>
        <?php 
        $erros =  $form->get('captcha')->getMessages(); 
        $numErros = count($erros);  
        if( $numErros > 0):  ?>
            <?php foreach($erros as $chave => $msg): ?>
            <?php echo $msg; ?>
        <?php endforeach; ?>
        <!-- BOX ERRO ALERTA -->
        <br/>

        <?php endif; ?>
        
        <?php
        //echo "<pre>";
        //var_dump(get_class_methods( get_class($form->get('captcha')) )); exit();
        //echo $this->formRow($form->get('captcha'));
        ?>
        
        
        
        <br/><br/>
        
        <?php echo $this->formSubmit($form->get('enviar')); ?>
        
<?php echo $this->form()->closeTag();
