                            <p>
Contato via site:
<br/><br/>

    Nome : <?php echo $this->name; ?><br/>
    E-mail : <?php echo $this->email; ?><br/>
    Telefone : <?php echo $this->phone; ?><br/>
    Mensagem:<br/> <?php echo $this->message; ?>     
</p>
