<hr />

<ol class="breadcrumb bc-3" >
    <li>
        <a href="<?php echo $this->url('manager'); ?>"><i class="fa-home"></i>Home</a>
    </li>
    <li class="active">
        <strong>Editar Grup</strong>
    </li>
</ol>

<h2>Editar Grupo</h2>
<br />

<?php
$form = $this->form;
$form->prepare();
$form->setAttribute('class', 'form-horizontal form-groups-bordered');
$form->setAttribute('role', 'form');
$form->setAttribute('method', 'post');

?>


<div class="row">
    <div class="col-md-12">
        
        <?php if(count($form->getMessages() ) > 0): ?>
        <div class="alert alert-danger">
            <strong>Alerta!</strong>
            Verifique os campos abaixa e reenvie novamente os dados.
        </div>
        <?php endif; ?>
        
        <div class="panel panel-primary" data-collapsed="0">
            
            <div class="panel-heading">
                
                <div class="panel-title">
                    Dados
                </div>

            </div>
            
            <div class="panel-body">
                <?php
                echo $this->form()->openTag($form);
                ?>
                    <?php echo $this->formHidden($form->get('id')); ?>
                    <?php echo $this->renderField($form->get('name')); ?>
                    <?php echo $this->renderField($form->get('is_admin')); ?>
                    
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="field-1">Privilégios</label>
                        
                        <div class="col-sm-5" id="list_privileges">
                            <input type="button" id="bnt_control_mark_options" value="Marcar todas as perguntas" onclick="return false" />   
                            <br/><br/>
                            
                            <?php foreach($this->resources as $key => $resource): ?>
                                <label>
                                <a href="" onclick="return false;" class="list-sub-checkboxes" rel="<?php echo $key; ?>">(+)</a> 
                                
                                <input name="resources[]" 
                                                    class="checkbox-options <?php if($resource->getPrivileges()->count() > 0): ?> has-sub-options <?php endif; ?>" type="checkbox" 
                                               value="<?php echo $resource->getId(); ?>" /> <?php echo $resource->getAlias(); ?>
                                </label>
                                               
                                <div class="sub-checkboxes" id="list-sub-<?php echo $key; ?>">
                                <?php foreach($resource->getPrivileges() as $privilege): ?>
                                    <?php if($privilege->getDisplay()): ?>
                                     &nbsp;&nbsp;
                                        <?php $isChecked = in_array($privilege->getId(), $this->roles_resources); ?>

                                        <input name="privileges[]" type="checkbox" <?php if($isChecked): ?> checked="checked" <?php endif; ?> 
                                               value="<?php echo $privilege->getId(); ?>" 
                                               class="checkbox-options sub-options list-sub-<?php echo $key; ?>" /> <?php echo $privilege->getAlias(); ?> 
                                        <br />
                                    <?php endif; ?>
                                <?php endforeach; ?>
                                </div>
                            

                            <div style="display: block"></div>
                         <?php endforeach; ?>

                        </div>

                    </div>
                    
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-5">
                                <button type="submit" class="btn btn-default btn-green">Salvar</button>
                        </div>
                    </div>
                
                <?php echo $this->form()->closeTag(); ?>

            </div>
            
        </div>

    </div>
</div>

<style>
    #list_privileges { width: 400px;}
    #list_privileges a { font-size: 20px; outline: none; }
    #list_privileges ul { list-style: none; display:none;}
</style>

<?php $this->inlineScript()->appendFile($this->basePath() . '/js/admin/roles/control-checkbox.js');  ?>