<div class="pageheader">
    <div class="pageicon"><span class="iconfa-table"></span></div>
    <div class="pagetitle">
        <h5>Grupos</h5>
        <h1>Lista de Grupos</h1>
    </div>
</div><!--pageheader-->

<div class="maincontent">
    <div class="maincontentinner">
      
    <?php if($this->message != ''):  ?>
        <div class="alert alert-success" id="box-message-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <?php echo $this->message; ?>
        </div>
        
        <script>
        function hideMessage()
        {
            jQuery("#box-message-success").slideUp();
        }
            
        jQuery(function() {
            window.setTimeout(hideMessage, 4000);
        });
        </script>
    <?php endif;  ?>
        
        <a href="<?php echo $this->url('manager', array('controller' => 'roles', 
            'action' => 'new')) ?>" class="btn btn-info btn-rounded">Novo Grupo</a>
            
        <h4 class="widgettitle"><span class="icon-pencil icon-white"></span>Grupos</h4>
        
        <table id="table" class="table table-bordered responsive">
            
            <colgroup>
                <col class="con0" />
                <col class="con1" />
                <col class="con0" />
            </colgroup>
       
        <thead>     
        <tr>
            <th>Nome</th>
            <!-- <th>Herança</th> -->
            <th>Admin?</th>
            <th>Ação</th>
        </tr>
        </thead>
        
        <tbody>
        <?php foreach($this->data as $entity): ?>
        <tr>
            <td><?php echo $entity->getName(); ?></td>
            <!--
            <td><?php //echo is_object($entity->getParent()) ? $entity->getParent() : ' -- '; ?> -- </td>
            -->
            <td><?php echo $entity->getIsAdmin()?'Sim':'Não'; ?></td>
            
            <td>
                <a href="<?php echo $this->url('manager-internal',
                        array('controller'=>'roles','action'=>'edit','id'=> $entity->getId())); ?>" 
                        class="deleterow"><span class="icon-pencil"></span></a>
                &nbsp;&nbsp;
                <a href="<?php echo $this->url('manager-internal',
                        array('controller'=>'roles','action'=>'delete','id'=>$entity->getId())); ?>"
                        class="deleterow confirm-delete" 
                                       rel="Excluir o grupo <?php echo $entity->getName() ?>?">
                            <span class="icon-trash"></span></a>
            </td>
        </tr>
        <?php endforeach; ?>
        </tbody>
        </table>
        
        <?php echo $this->paginationControl($this->data, 'Sliding', 'paginator'); ?>
        
        <br/><br/><br/>
        <?php echo $this->partial('layout-admin/footer'); ?>
        
    </div>
</div>