<hr />

<ol class="breadcrumb bc-3" >
    <li>
        <a href="/"><i class="fa-home"></i>Dashboard</a>
    </li>
        
    <li class="active">
        <strong>Grupos de acesso</strong>
    </li>
</ol>
		
<h2>Grupos de acesso</h2>

<table class="table table-bordered table-striped datatable" id="table-2">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Admin?</th>
            <th>Ação</th>
        </tr>
    </thead>

    <tbody>
        
    <?php foreach($this->data as $entity): ?>   
        
    <tr>
        <td><?php echo $entity->getName(); ?></td>
        <td><?php echo $entity->getIsAdmin() ? 'Sim':'Não'; ?></td>
        <td>
            <a href="<?php echo $this->url('manager-internal',
                                            array('controller'=>'roles',
                                                  'action'=>'edit',
                                                  'id'=> $entity->getId())); ?>" 
                                            class="btn btn-default btn-sm btn-icon icon-left">
                    <i class="entypo-pencil"></i>
                    Editar
            </a>
            
            <a href="<?php echo $this->url('manager-internal',
                                             array('controller'=>'roles',
                                                   'action'=>'delete',
                                                   'id'=>$entity->getId())); ?>" 
                                                                      class="btn btn-danger btn-sm btn-icon icon-left">
                    <i class="entypo-cancel"></i>
                    Excluir
            </a>
            
        </td>
    </tr>
    <?php endforeach; ?>
                
    <?php if(count($this->data) == 0):  ?>
    <tr>
        <td colspan="4" class="not-found-result">Nenhum resultado encontrado.</td>
    </tr>    
    <?php endif;  ?>
    
    </tbody>

</table>

<a href="<?php echo $this->url('manager', 
                                array('controller' => 'roles', 
                                      'action' => 'new')) ?>" class="btn btn-primary">
    <i class="entypo-plus"></i>
    Novo Grupo de Acesso
</a>

            <script type="text/javascript">
//		jQuery(window).load(function()
//		{
//			var $ = jQuery;
//			
//			$("#table-2").dataTable({
//				"sPaginationType": "bootstrap",
//				"sDom": "t<'row'<'col-xs-6 col-left'i><'col-xs-6 col-right'p>>",
//				"bStateSave": false,
//				"iDisplayLength": 8,
//				"aoColumns": [
//					{ "bSortable": false },
//					null,
//					null,
//					null,
//					null
//				]
//			});
//			
//			$(".dataTables_wrapper select").select2({
//				minimumResultsForSearch: -1
//			});
//			
//			// Highlighted rows
//			$("#table-2 tbody input[type=checkbox]").each(function(i, el)
//			{
//				var $this = $(el),
//					$p = $this.closest('tr');
//				
//				$(el).on('change', function()
//				{
//					var is_checked = $this.is(':checked');
//					
//					$p[is_checked ? 'addClass' : 'removeClass']('highlight');
//				});
//			});
//			
//			// Replace Checboxes
//			$(".pagination a").click(function(ev)
//			{
//				replaceCheckboxes();
//			});
//		});
//			
//		// Sample Function to add new row
//		var giCount = 1;
//		
//		function fnClickAddRow() 
//		{
//			$('#table-2').dataTable().fnAddData(['<div class="checkbox checkbox-replace"><input type="checkbox" /></div>', giCount+".2", giCount+".3", giCount+".4", giCount+".5" ]);
//			
//			replaceCheckboxes(); // because there is checkbox, replace it
//			
//			giCount++;
//		}
            </script>

            <br />
		
<script src="assets/js/jquery.dataTables.min.js"></script>
<script src="assets/js/datatables/TableTools.min.js"></script>


<!-- Imported scripts on this page -->
<script src="assets/js/dataTables.bootstrap.js"></script>
<script src="assets/js/datatables/jquery.dataTables.columnFilter.js"></script>
<script src="assets/js/datatables/lodash.min.js"></script>
<script src="assets/js/datatables/responsive/js/datatables.responsive.js"></script>
<script src="assets/js/select2/select2.min.js"></script>