<hr />

<ol class="breadcrumb bc-3" >
    <li>
        <a href="<?php echo $this->url('manager'); ?>"><i class="fa-home"></i>Home</a>
    </li>
    <li class="active">
        <strong>Novo Grupo de Acesso</strong>
    </li>
</ol>

<h2>Novo Grupo de Acesso</h2>
<br />

<?php
$form = $this->form;
$form->prepare();
$form->setAttribute('class', 'form-horizontal form-groups-bordered');
$form->setAttribute('role', 'form');
?>


<div class="row">
    <div class="col-md-12">
        
        <?php if(count($form->getMessages() ) > 0): ?>
        <div class="alert alert-danger">
            <strong>Alerta!</strong>
            Verifique os campos abaixa e reenvie novamente os dados.
        </div>
        <?php endif; ?>
        
        <div class="panel panel-primary" data-collapsed="0">
            
            <div class="panel-heading">
                
                <div class="panel-title">
                    Dados
                </div>

            </div>
            
            <div class="panel-body">
                <?php
                echo $this->form()->openTag($form);
                ?>
                    <?php echo $this->formHidden($form->get('id')); ?>
                    <?php echo $this->renderField($form->get('name')); ?>
                    <?php echo $this->renderField($form->get('is_admin')); ?>
                    
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="field-1">Privilégios</label>

                        <div class="col-sm-5">
                            <?php foreach($this->resources as $resource): ?>
                                <a href="">+</a> <input name="resources[]" 
                                                        class="select-privileges-resources" type="checkbox" 
                                                   value="<?php echo $resource->getId(); ?>" /> <?php echo $resource->getAlias(); ?>

                                <ul>
                                    <?php foreach($resource->getPrivileges() as $privilege): ?>
                                        <?php if($privilege->getDisplay()): ?>
                                        <li>
                                            <input name="privileges[]" type="checkbox" 
                                                   value="<?php echo $privilege->getId(); ?>" 
                                                   class="privileges-<?php echo $resource->getId(); ?>" /> <?php echo $privilege->getAlias(); ?> 
                                        </li>    
                                        <?php endif; ?>

                                    <?php endforeach; ?>
                                 </ul>

                                <div style="display: block"></div>
                            <?php endforeach; ?>

                        </div>

                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-5">
                                <button type="submit" class="btn btn-default btn-green">Salvar</button>
                        </div>
                    </div>
                
                <?php echo $this->form()->closeTag(); ?>

            </div>
            
            <style>
                #list_privileges { margin-top: 10px; margin-left: 160px; width: 400px;}
                #list_privileges a { font-size: 20px; }
                #list_privileges ul { list-style: none; margin-left: 30px; display:none;}
            </style>

            <script>
            jQuery(function() {
                jQuery("#list_privileges a").each(function(key, value) {
                    jQuery(this).click(function() {
                        var lista = jQuery("#list_privileges ul").get(key);
                        jQuery(lista).toggle();
                        return false;
                    });
                });

                jQuery("#list_privileges .select-privileges-resources").each(function(key, value) {
                    jQuery(this).click(function() {
                        var resourceId = jQuery(this).val();
                        if(jQuery(this).attr('checked') == 'checked') {
                            jQuery(".privileges-" + resourceId).each(function() {
                                jQuery(this).attr('checked', true);
                            });
                        } else {
                            jQuery(".privileges-" + resourceId).each(function() {
                                jQuery(this).attr('checked', false);
                            });
                        }

                        jQuery.uniform.update(".privileges-" + resourceId);
                    });
                });
            });
            </script>
            
            
            
        </div>

    </div>
</div>
	