        <div class="pageheader">
    
            <div class="pageicon"><span class="iconfa-pencil"></span></div>
            <div class="pagetitle">
                <h5>Grupos</h5>
                <h1>Novo Grupo</h1>
            </div>
        </div><!--pageheader-->

        
        
        <div class="maincontent">
            <div class="maincontentinner">
            
            <div class="widget">
            <h4 class="widgettitle">Novo Grupo</h4>
            <div class="widgetcontent">
                
      
    <?php

    $form = $this->form;
    $form->setAttribute('class', 'stdform');
    $form->setAttribute('role', 'form');
    $form->setAttribute('method', 'post');
    $form->prepare();
    echo $this->form()->openTag($form);
    ?>
        
    <div class="mws-form-inline">
        <?php 
        $messages = $form->getMessages();
        if( count($messages) > 0 ):
        ?>
        <div class="mws-form-message error" id='box-erro-form'>
            Verifique os erros abaixo:
            <ul>
                <?php foreach($messages as $chave => $messagesItem): ?>
                    <?php foreach($messagesItem as $key => $message): ?>
                    <li><?php echo $message;  ?></li>    
                    <?php endforeach;   ?>
                <?php endforeach; ?>
            </ul>
        </div>
        <script>
        function hideErroForm() { jQuery("#box-erro-form").fadeOut(); }    
        window.setTimeout(hideErroForm, 3000);
        </script>
        <?php endif;  ?>
               
        <?php echo $this->formHidden($form->get('id')); ?>
        
        <?php echo $this->renderField($form->get('name'));  ?>
        <?php //echo $this->renderField($form->get('parent'), 'select');  ?>
        
        <div class="mws-form-row bordered">
            <label class="mws-form-label">Admin?: </label>
             <div class="mws-form-item">
                <?php echo $this->formElement($form->get('is_admin'));  ?>
             </div>
        </div>
        
        <style>
            #list_privileges { margin-top: 10px; margin-left: 160px; width: 400px;}
            #list_privileges a { font-size: 20px; }
            #list_privileges ul { list-style: none; margin-left: 30px; display:none;}
        </style>
        
        <script>
        jQuery(function() {
            jQuery("#list_privileges a").each(function(key, value) {
                jQuery(this).click(function() {
                    var lista = jQuery("#list_privileges ul").get(key);
                    jQuery(lista).toggle();
                    return false;
                });
            });
            
            jQuery("#list_privileges .select-privileges-resources").each(function(key, value) {
                jQuery(this).click(function() {
                    var resourceId = jQuery(this).val();
                    if(jQuery(this).attr('checked') == 'checked') {
                        jQuery(".privileges-" + resourceId).each(function() {
                            jQuery(this).attr('checked', true);
                        });
                    } else {
                        jQuery(".privileges-" + resourceId).each(function() {
                            jQuery(this).attr('checked', false);
                        });
                    }
                    
                    jQuery.uniform.update(".privileges-" + resourceId);
                });
            });
        });
        </script>
        
        <div class="mws-form-row bordered">
            
            <div class="mws-form-item">
                 
                <div id="list_privileges">
                Privilégios<br/>    
                    
                <?php foreach($this->resources as $resource): ?>
                    <a href="">+</a> <input name="resources[]" 
                                            class="select-privileges-resources" type="checkbox" 
                                       value="<?php echo $resource->getId(); ?>" /> <?php echo $resource->getAlias(); ?>
                    
                    <ul>
                        <?php foreach($resource->getPrivileges() as $privilege): ?>
                            <?php if($privilege->getDisplay()): ?>
                            <li>
                                <input name="privileges[]" type="checkbox" 
                                       value="<?php echo $privilege->getId(); ?>" 
                                       class="privileges-<?php echo $resource->getId(); ?>" /> <?php echo $privilege->getAlias(); ?> 
                            </li>    
                            <?php endif; ?>
                        
                        <?php endforeach; ?>
                     </ul>
                    
                    <div style="display: block"></div>
                 <?php endforeach; ?>
                 </div>   
             </div>
        </div>
        
        
        <br/>
        <p class="stdformbutton">
            <button class="btn btn-primary">Salvar</button>
        </p>
        
       <?php echo $this->form()->closeTag($form); ?> 
        </div><!--widgetcontent-->
        </div><!--widget-->

        <br/><br/><br/>
        <?php echo $this->partial('layout-admin/footer'); ?>

    </div><!--maincontentinner-->
</div><!--maincontent-->


<script>
    
jQuery(function() {
    jQuery("#roles").validate({
        rules: {
            name: "required"
        },
        messages: {
            name: "Informe o nome do grupo"
        },
        highlight: function(label) {
            jQuery(label).closest('.control-group').addClass('error');
        },
        success: function(label) {
            label
                .text('').addClass('valid')
                .closest('.control-group').addClass('success');
        }
    });    
});

</script>
    