<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Profilática</title>

    </head>

    <body>

        <h2>Distribuidores - Dados do Distribuidor</h2>


        <h3>Olá <?php echo $this->nome_fantasia; ?></h3>
        <p>Seu cadastro foi efeuado com sucesso no site da Profilática</p>
        <br />
        <p><strong>Login: </strong> <?php echo $this->email; ?></p>
        <p><strong>Senha: </strong> <?php echo $this->password; ?></p>
        <br />
        <p>Link para acesso a sua conta no profilática</p>
        <p><a href="http://www.profilatica.com.br/distributor/login">manager Administrativo Profilática</a></p>
        <br />
        <br />
        <br />


    </body>
</html>    