<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Profilática</title>
        <style>
            table,th,td
            {
                border:1px solid black;
            }
        </style>

    </head>

    <body>

        <h2>Pedido</h2>

        <h3><strong>Nome da Empresa: </strong><?php echo $this->nome_fantasia ?></h3>

        <table>
            <tr>
                <th>Produto</th>
                <th>Valor Unitário</th>
                <th>Quantidade por caixa</th>
                <th>Valor da Caixa</th>
                <th>Quantidade Solicitada de caixas</th>
            </tr>

            <?php foreach ($this->list as $product): ?>
                <tr>
                    <td style="text-align: center"><?php echo $product['product_name'] ?></td>
                    <td style="text-align: center"><?php echo $product['unit_price'] ?></td>
                    <td style="text-align: center"><?php echo $product['quantity_per_box'] ?></td>
                    <td style="text-align: center"><?php echo $product['box_price'] ?></td>
                    <td style="text-align: center"><?php echo $product['amount_request'] ?></td>
                </tr>
            <?php endforeach; ?>

        </table>

    </body>
</html>    