<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Profilática</title>
    
</head>

<body>
        
    <h2>Distribuidores - Formulário seja um distribuidor</h2>

    <p>
    <table border="0">
        <tr>
            <td>CNPJ</td>
            <td><?php echo $this->cnpj; ?></td>
        </tr>
        <tr>
            <td>Endereço</td>
            <td><?php echo $this->endereco; ?></td>
        </tr>
        <tr>
            <td>Cidade</td>
            <td><?php echo $this->cidade; ?></td>
        </tr>
        <tr>
            <td>Estado</td>
            <td><?php echo $this->estado; ?></td>
        </tr>
        
        <tr>
            <td>Inscrição Estadual</td>
            <td><?php echo $this->inscricao_estadual ?></td>
        </tr>
        <tr>
            <td>Nome Fantasia</td>
            <td><?php echo $this->nome_fantasia ?></td>
        </tr>
        <tr>
            <td>Telefone</td>
            <td><?php echo $this->telefone ?></td>
        </tr>
        <tr>
            <td>Pessoa para contato</td>
            <td><?php echo $this->pessoa_contato ?></td>
        </tr>
        <tr>
            <td>Observações</td>
            <td><?php echo !empty($this->observacoes) ? $this->observacoes : ' -- ' ?></td>
        </tr>    
    </table>    

    </p>
    
</body>
</html>    