<?php $this->headScript()->appendFile($this->basePath() . '/js/vendor/jquery.maskedinput.min.js')
                         ->appendFile($this->basePath() . '/js/util/validacoes.js')
                         ->appendFile($this->basePath() . '/js/site/be-a-distributor.js') ?> 
                         
<style>
                      
  .lista-dados {
    margin-bottom: 30px;
    background-size: 66% !important; } 
  .lista-dados {
  margin-bottom: 30px;}
 
  .lista-dados h3 {
    color: #00abbd;
    font-size: 18px; }
  .erro-form { color: #CB4B16; margin-top: 5px; display: none;}
  .hide { display: none;}
</style>
                 
                  
          <div class="conteudo pagina">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
                    <h2 class="titulo-conteudo sem-margem"><?php echo $this->translate("Seja um distribuidor"); ?></h2>
                    <br/><br/>
                    
                    <script>
                        var message = '<?php echo isset($message) ? $message : '' ?>';
                        
                        function gotoForm()
                        {
                            $('html,body').animate({scrollTop: $('#bloco-form').offset().top - 5}, 1500);
                            return false;
                        }
                        
                        function displayErrors()
                        {
                            $(".erro-form").show();
                        }

                        function formEstado(estado)
                        {
                            var estados = {"ac":"Acre", "al":"Alagoas", "am":"Amazonas", "ap":"Amapá",
                                           "ba":"Bahia","ce":"Ceará","df":"Distrito Federal","es":"Espírito Santo",
                                           "go":"Goiás","ma":"Maranhão","mt":"Mato Grosso","ms":"Mato Grosso do Sul",
                                           "mg":"Minas Gerais","pa":"Pará","pb":"Paraíba","pr":"Paraná","pe":"Pernambuco",
                                           "pi":"Piauí","RJ":"Rio de Janeiro","rn":"Rio Grande do Norte","ro":"Rondônia",
                                           "rs":"Rio Grande do Sul","rr":"Roraima","sc":"Santa Catarina","se":"Sergipe",
                                           "sp":"São Paulo","to":"Tocantins"};
                            
                            var estadoDesc = '';
                            $.each( estados, function( key, val ) {
                                if(key == estado.toLowerCase()) {
                                    estadoDesc = val;
                                }
                            });
                            
                            $('#estado').val(estadoDesc);
                            $('#bloco-form').show();    
                            $('#cidade').focus();
                            
                            gotoForm();
                            return false;
                        }
                        
                    </script> 

                    <?php echo $this->partial('front/distributors/map'); ?>
                    
                    <br/>
                        <center>
                            <h3>Selecione a sua região</h3>
                        </center>
                    <br/>
                    
                    <br/>
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" id="bloco-form">
                    
                    <?php    
                    $form = $this->form;
                    $form->prepare();
                    $form->setAttribute('class', 'form-download');
                    $form->setAttribute('role', 'form');
                    echo $this->form()->openTag($form);
                    ?>  
                        <?php if($this->message != '' && $this->message == 'ok'): ?>
                        <h3 id="mensagem-retorno" style="color: #070; background: #0eb1bf; padding: 10px;color:#EFEFEF;">
                                <?php echo $this->translate("Dados enviados com sucesso! Aguarde contato."); ?></h3>
                                <script>
                                $(function() {
                                   gotoForm();
                                });
                                </script>
                        <?php endif; ?>
                        
                        <?php if(count($form->getMessages()) > 0): ?>
                        <h3 id="mensagem-retorno-erro" style="color: #070; background: #CB4B16; padding: 10px;color:#EFEFEF;">
                                <?php echo $this->translate("Houve um problema no envio. Verifique os campos a abaixo"); ?></h3>
                                <script>
                                displayErrors();
                                $(function() {
                                    $("#cidade").focus();
                                });
                                </script>
                        <?php endif; ?>
                        
                        <?php echo $this->formField($form->get('estado')); ?>
                        
                        <?php echo $this->formField($form->get('cidade'), "Curitiba", "Informe a cidade."); ?>
                        
                        <?php echo $this->formField($form->get('cidade'), "Endereco", "Informe o endereço da empresa."); ?>
                        
                        <?php echo $this->formField($form->get('cnpj'), "CNPJ", "Informe o CNPJ da empresa."); ?>
                        
                        <?php echo $this->formField($form->get('inscricao_estadual'), "Inscrição Estadual", "Informe a Inscrição Estadual da empresa."); ?>
                        
                        <?php echo $this->formField($form->get('nome_fantasia'), "Nome Fantasia", "Informe o Nome Fantasia da empresa."); ?>
                        
                        <?php echo $this->formField($form->get('email'), "E-mail", "Informe o e-mail da empresa."); ?>
                      
                        <?php echo $this->formField($form->get('telefone'), "Telefone", "Informe o telefone da empresa."); ?>
                        
                        <?php echo $this->formField($form->get('pessoa_contato'), "Pessoa para contato", "Informe uma pessoa para contato."); ?>
                        
                        <?php echo $this->formField($form->get('observacoes'), "Observações", "Informe uma pessoa para contato."); ?>
                        
                      <button type="submit" class="btn btn-default" onclick="return sendFormDistributors();" 
                              style="float:right"><?php echo $this->translate("Enviar"); ?></button>
                      <br/><br/>
                      
                      <?php echo $this->form()->closeTag(); ?>
                      
                  </div>
                    
                  <div class="barra-bottom"></div>
                </div>
                  
                  
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 visible-lg">
                    
                    <?php echo $this->boxPost($this->translate('Novidades'), 'novidades'); ?>
                    
                    <?php echo $this->boxPost($this->translate('News'), 'noticias'); ?>
                    
                    <?php echo $this->boxPost($this->translate('News'), 'eventos'); ?>
                        
                </div>
                  
                </div>
          <div class="row">
<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 visible-sm visible-xs">
                            <div class="box-home-formulario">
                                <div class="box-form1">
                                    <h4>Área Para Clientes</h4>
                                    <input class="login" type="text" placeholder="Login">
                                    <div class="senha">
                                        <input type="password" placeholder="Senha">
                                        <input type="submit">
                                    </div>
                                    <p>
                                        <a href=""><?php echo $this->translate("Cadastre-se"); ?></a>
                                        |
                                        <a href=""><?php echo $this->translate("Lembrar senha"); ?></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 visible-sm visible-xs">
                            <div class="box-home-formulario">
                                <div class="box-form1">
                                    <h4><?php echo $this->translate("Área Administrativa"); ?></h4>
                                    <div class="senha">
                                        <input type="password" placeholder="Senha">
                                        <input type="submit">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix visible-sm"></div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 visible-sm visible-xs">
                            <div class="box-footer">
                                <h4><?php echo $this->translate("Acompanhe a Profilática"); ?></h4>
                                <div class="cadastrar clearfix">
                                    <input type="text">
                                    <input type="submit" value="<?php echo $this->translate("cadastrar"); ?>">
                                </div>
                                <div class="redes-sociais clearfix">
                                    <ul>
                                        <li>
                                            <a class="facebook" href="">Facebook</a>
                                        </li>
                                        <li>
                                            <a class="youtube" href="">Youtube</a>
                                        </li>
                                        <li>
                                            <a class="twitter" href="">Twitter</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
