<?php $this->headScript()->appendFile($this->basePath() . '/js/vendor/jquery.maskedinput.min.js')
                         ->appendFile($this->basePath() . '/js/util/validacoes.js')
                         ->appendFile($this->basePath() . '/js/site/distributors.js') ?> 

<div class="main">
    <div class="bread">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <a href="<?php echo $this->url('home'); ?>"><?php echo $this->translate('Página Inicial'); ?></a>
              <?php echo $this->translate('Distribuidores'); ?>
            </div>
          </div>
        </div>
    </div>  
    <div class="container">
      <div class="conteudo">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
            <?php echo $this->partial('front/distributors/map'); ?>
            
          </div>
          <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
            <h1 class="titulo-h1"><?php echo $this->translate('Distribuidores'); ?></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi magnam, beatae 
                repellat minima ex adipisci saepe quia, ea tenetur, ullam quisquam velit aspernatur, 
                odit dignissimos quos assumenda dolorum nemo necessitatibus.</p>


            <div class="bs-example bs-example-tabs">
              <ul id="myTab" class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#home" role="tab" data-toggle="tab"><?php echo $this->translate('solicite um distribuidor'); ?></a></li>
                <li><a href="#profile" role="tab" data-toggle="tab"><?php echo $this->translate('seja um distribuidor'); ?></a></li>
              </ul>
              <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="home">
                  <h4><?php echo $this->translate('Solicite um Distribuidor'); ?></h4>
                  
                  <?php
                        
                    $form = $this->form;
                    $form->prepare();
                    $form->setAttribute('id', 'distributors');
                    $form->setAttribute('class', 'form-download');
                    $form->setAttribute('role', 'form');
                    echo $this->form()->openTag($form);
                    ?>  
                      <div class="form-group">
                        <label for="exampleInputPassword1"><?php echo $this->translate("Estado"); ?></label>
                        <?php echo $this->formInput($form->get('estado')); ?> 
                        <div id="erro_estado" class="hide"><?php echo $this->translate("Selecione um estado no mapa."); ?></div>
                      </div>
                        
                      <div class="form-group">
                            <label for="exampleInputEmail1"><?php echo $this->translate("Nome Completo"); ?></label>
                            <?php echo $this->formInput($form->get('nome')); ?>
                            <div id="erro_nome" class="hide"><?php echo $this->translate("Informe seu nome."); ?></div>
                      </div>
                      
                      <div class="form-group">
                            <label for="exampleInputPassword1"><?php echo $this->translate("Seu e-mail"); ?></label>
                            <?php echo $this->formInput($form->get('email')); ?> 
                            <div id="erro_email" class="hide"><?php echo $this->translate("Informe um e-mail válido."); ?></div>
                      </div>
                        
                      <div class="form-group">
                            <label for="exampleInputEmail1"><?php echo $this->translate("Telefone"); ?></label>
                            <?php echo $this->formInput($form->get('telefone')); ?>
                            <div id="erro_telefone" class="hide"><?php echo $this->translate("Informe um telefone."); ?></div>
                      </div>
                        
                      <div class="form-group">
                            <label for="Select1"><?php echo $this->translate("Mensagem"); ?></label>
                            <?php echo $this->formTextarea($form->get('mensagem')); ?> 
                            <div id="erro_mensagem" class="hide"><?php echo $this->translate("Nos informe seu interesse."); ?></div>
                      </div>
                        
                      <button type="button" class="btn btn-default" onclick="return sendFormDistributors();" 
                              style="float:right"><?php echo $this->translate("Enviar"); ?></button>
                      <br/><br/>
                      
                      <?php echo $this->form()->closeTag(); ?>
                  
                  
                </div>
                <div class="tab-pane fade" id="profile">
                  <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. 
                      Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table 
                      craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl 
                      cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, 
                      vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts 
                      beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui
                      sapiente accusamus tattooed echo park.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>



<script>
   
var message = '<?php echo isset($message) ? $message : '' ?>';
                        
function gotoForm()
{
    //$('html,body').animate({scrollTop: $('#bloco-form').offset().top - 5}, 1500);
    return false;
}

function formEstado(estado)
{
    var estados = {"ac":"Acre", "al":"Alagoas", "am":"Amazonas", "ap":"Amapá",
                   "ba":"Bahia","ce":"Ceará","df":"Distrito Federal","es":"Espírito Santo",
                   "go":"Goiás","ma":"Maranhão","mt":"Mato Grosso","ms":"Mato Grosso do Sul",
                   "mg":"Minas Gerais","pa":"Pará","pb":"Paraíba","pr":"Paraná","pe":"Pernambuco",
                   "pi":"Piauí","RJ":"Rio de Janeiro","rn":"Rio Grande do Norte","ro":"Rondônia",
                   "rs":"Rio Grande do Sul","rr":"Roraima","sc":"Santa Catarina","se":"Sergipe",
                   "sp":"São Paulo","to":"Tocantins"};

    var estadoDesc = '';
    $.each( estados, function( key, val ) {
        if(key == estado.toLowerCase()) {
            estadoDesc = val;
        }
    });

    $('#estado').val(estadoDesc);
    $('#bloco-form').show();    
    $('#nome').focus();
    /*
    $('#nome').val('');
    $('#email').val('');
    $('#telefone').val('');
    $('#mensagem').val('');
    */
    gotoForm();
    return false;
}

$(function() {
    if(message != '') {
        alert('<?php echo $this->translate('Mensagem enviado com sucesso!') ?>');
    }
});
</script>   