<script>
function distributorsState()
{
   var stateRoute = jQuery('#state').val();
   if(stateRoute != '') {
       window.location.href = stateRoute;
   }
}


    
</script>

<style>
                      
  .lista-dados {
    margin-bottom: 30px;
    background-size: 66% !important; } 
  .lista-dados {
  margin-bottom: 30px;}
 
  .lista-dados h3 {
    color: #00abbd;
    font-size: 18px; }
  
</style>
                  
                  
          <div class="conteudo pagina">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
                    <h2 class="titulo-conteudo sem-margem"><?php echo $this->translate("Distribuidores"); ?></h2>
                  <br/><br/>
                  
                  <?php echo $this->translate("Selecione um estado"); ?><br/>
                  <select name="state" class='form-control' id="state" onchange="distributorsState();">
                      <option value=""> -- </option>
                      <?php foreach($this->states as $sigla => $state): ?>
                      <option 
                          value="<?php echo $this->url('distributors-state', array('state' => $sigla, 
                                                                                   'localte' => $this->locale)) ?>"
                          <?php if($this->select_state == $sigla):  ?> selected <?php endif; ?>>
                                                                                           <?php echo $state; ?></option>
                      <?php endforeach; ?>
                      
                  </select>
                  
                  
                  <?php echo $this->partial('front/distributors/map'); ?>
                  
                  <br /><br />
                  
                  <?php if($this->select_state != ''): ?>

                    <?php foreach($this->list as $distributor): ?>
                    <div class="lista-dados">
                      <div class="row">
                        <div class="col-xs-12  col-sm-12 col-md-12 col-lg-12">
                            <h3><?php echo $distributor->getName();  ?></h3>
                        </div>
                      </div>
                      <div class="row">

                        <div class="col-xs-7  col-sm-8 col-md-8 col-lg-8">
                            <p>
                                <?php echo $distributor->getName();  ?><br/>
                                <?php echo $distributor->getPhone();  ?><br/>
                                <?php echo $distributor->getEmail();  ?><br/>
                                <?php echo $distributor->getAddress();  ?><br/>
                            </p>
                        </div>
                      </div>
                    </div> <br/>
                    <?php endforeach; ?>

                  
                    <?php if(count($this->list) == 0): ?>
                    <div class="lista-dados">
                      <div class="row">
                        <div class="col-xs-12  col-sm-12 col-md-12 col-lg-12">
                            <h3><a href=""><?php echo $this->translate('Sem distribuidores no estado!') ?></a></h3>
                        </div>
                      </div>
                      <div class="row">

                        <div class="col-xs-7  col-sm-8 col-md-8 col-lg-8">
                            <p><?php echo $this->translate("Não há distribuidores disponíveis para este estado."); ?></p>
                        </div>
                      </div>
                    </div>
                    <?php endif; ?>
                  
                  <?php endif; ?>
                  
                  <div class="barra-bottom"></div>
                </div>
                  
                  
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 visible-lg">
                  
                    <?php echo $this->boxPost($this->translate('Novidades'), 'novidades'); ?>
                  
                    <?php echo $this->boxPost($this->translate('News'), 'noticias'); ?>
                  
                    <?php echo $this->boxPost($this->translate('News'), 'eventos'); ?>
                    
                </div>
                  
                </div>
          <div class="row">
<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 visible-sm visible-xs">
                            <div class="box-home-formulario">
                                <div class="box-form1">
                                    <h4>Área Para Clientes</h4>
                                    <input class="login" type="text" placeholder="Login">
                                    <div class="senha">
                                        <input type="password" placeholder="Senha">
                                        <input type="submit">
                                    </div>
                                    <p>
                                        <a href=""><?php echo $this->translate("Cadastre-se"); ?></a>
                                        |
                                        <a href=""><?php echo $this->translate("Lembrar senha"); ?></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 visible-sm visible-xs">
                            <div class="box-home-formulario">
                                <div class="box-form1">
                                    <h4><?php echo $this->translate("Área Administrativa"); ?></h4>
                                    <div class="senha">
                                        <input type="password" placeholder="Senha">
                                        <input type="submit">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix visible-sm"></div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 visible-sm visible-xs">
                            <div class="box-footer">
                                <h4><?php echo $this->translate("Acompanhe a Profilática"); ?></h4>
                                <div class="cadastrar clearfix">
                                    <input type="text">
                                    <input type="submit" value="<?php echo $this->translate("cadastrar"); ?>">
                                </div>
                                <div class="redes-sociais clearfix">
                                    <ul>
                                        <li>
                                            <a class="facebook" href="">Facebook</a>
                                        </li>
                                        <li>
                                            <a class="youtube" href="">Youtube</a>
                                        </li>
                                        <li>
                                            <a class="twitter" href="">Twitter</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
       