
          <div class="conteudo pagina">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
                    <h2 class="titulo-conteudo sem-margem"><?php echo $this->translate("Distributors"); ?></h2>
                  <br/><br/>
                  
                  <?php foreach($this->list as $stateDistributors): ?>
                      
                  <div class="lista-noticias">
                    <div class="row">
                      <div class="col-xs-12  col-sm-12 col-md-12 col-lg-12">
                          <h3><a href="<?php  ?>"><?php  ?></a></h3>
                      </div>
                    </div>
                    <div class="row">
                        
                        
                      <div class="col-xs-7  col-sm-8 col-md-8 col-lg-8">
                          <a href="<?php  ?>"><p><?php  ?>123</p></a>
                      </div>
                    </div>
                  </div>
                  <?php endforeach; ?>
                  
                  <?php if(count($this->products) == 0): ?>
                  <div class="lista-noticias">
                    <div class="row">
                      <div class="col-xs-12  col-sm-12 col-md-12 col-lg-12">
                          <h3><a href=""><?php echo $this->translate('Sem distribuidores no estado!') ?></a></h3>
                      </div>
                    </div>
                    <div class="row">
                        
                      <div class="col-xs-7  col-sm-8 col-md-8 col-lg-8">
                        <p>Não há distribuidores disponíveis para este estado.</p>
                      </div>
                    </div>
                  </div>
                  <?php endif; ?>
                  
                  <div class="barra-bottom"></div>
                </div>
                  
                  
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 visible-lg">
                  
                    <div class="box-home-noticias">
                    <h3 class="titulo-box">Novidades</h3>
                    <img src="/img/home-noticias2.png" class="img-responsive" height="249" width="270" alt="">
                    <div class="texto">
                      <h4>There are many variations </h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. facilis!</p>
                    </div>
                  </div>
                  <div class="box-home-noticias">
                    <h3 class="titulo-box">Notícias</h3>
                    <img src="/img/home-noticias2.png" class="img-responsive" height="249" width="270" alt="">
                    <div class="texto">
                      <h4>There are many variations </h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. facilis!</p>
                    </div>
                  </div>
                  <div class="box-home-noticias sem-foto">
                    <h3 class="titulo-box">Eventos</h3>
                    <div class="texto">
                      <h4>There are many variations </h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. facilis!</p>
                    </div>
                  </div>
                </div>
                  
                </div>
          <div class="row">
<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 visible-sm visible-xs">
                            <div class="box-home-formulario">
                                <div class="box-form1">
                                    <h4>Área Para Clientes</h4>
                                    <input class="login" type="text" placeholder="Login">
                                    <div class="senha">
                                        <input type="password" placeholder="Senha">
                                        <input type="submit">
                                    </div>
                                    <p>
                                        <a href="">Cadastre-se </a>
                                        |
                                        <a href="">Lembrar senha</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 visible-sm visible-xs">
                            <div class="box-home-formulario">
                                <div class="box-form1">
                                    <h4>Área Administrativa</h4>
                                    <div class="senha">
                                        <input type="password" placeholder="Senha">
                                        <input type="submit">
                                    </div>
                                    <p>
                                        <a href="">Cadastre-se </a>
                                        |
                                        <a href="">Lembrar senha</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix visible-sm"></div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 visible-sm visible-xs">
                            <div class="box-footer">
                                <h4>Acompanhe a Profilática</h4>
                                <div class="cadastrar clearfix">
                                    <input type="text">
                                    <input type="submit" value="cadastrar">
                                </div>
                                <div class="redes-sociais clearfix">
                                    <ul>
                                        <li>
                                            <a class="facebook" href="">Facebook</a>
                                        </li>
                                        <li>
                                            <a class="youtube" href="">Youtube</a>
                                        </li>
                                        <li>
                                            <a class="twitter" href="">Twitter</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
       