<?php
$distributor = $this->UserIdentity('Front');
$nomeFantasia = $distributor->getNomeFantasia();
$id = $distributor->getId();
?>
<div class="conteudo pagina">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2 class="titulo-conteudo"><?php echo $this->translate("Products"); ?></h2>
                <p><?php echo $this->translate("LISTA DE PRODUTOS"); ?>:</p>
                <div class="row">
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    </div>
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                        <?php
                        $form = $this->form;
                        $form->setAttribute('action', $this->url('order-producst-distributor', array('controller' => 'distributors', 'action' => 'order-product')));
                        $form->prepare();
                        echo $this->form()->openTag($form);
                        $form->add(array(
                            'name' => 'id',
                            'attributes' => array(
                                'type' => 'hidden',
                                'value' => $id
                            )
                        ));
                        $form->add(array(
                            'name' => 'nome_fantasia',
                            'attributes' => array(
                                'type' => 'hidden',
                                'value' => $nomeFantasia
                            )
                        ));
                        echo $this->formHidden($form->get('id'));
                        echo $this->formHidden($form->get('nome_fantasia'));
                        ?>
                        <table id="table" class="table table-bordered responsive">
                            <colgroup>
                                <col class="con0" />
                                <col class="con1" />
                                <col class="con0" />
                                <col class="con1" />
                                <col class="con0" />
                            </colgroup>

                            <thead>
                                <tr>
                                    <th class="head0">PRODUTO</th>
                                    <th class="head1 center">VALOR UNITÁRIO</th>
                                    <th class="head0 center">QUANTIDADE POR CAIXA</th>
                                    <th class="head1 center">VALOR DA CAIXA</th>
                                    <th class="head0 center">QUANTIDADE DE CAIXAS</th>
                                </tr>
                            </thead>

                            <tbody>
                                <?php foreach ($this->data as $entity): ?>
                                    <?php
                                    $form->add(array(
                                        'name' => "produto[{$entity->getId()}]",
                                        'options' => array(
                                            'type' => 'text',
                                        ),
                                        'attributes' => array(
                                            'class' => 'form-controll'
                                        ),
                                        'validators' => array(
                                            array(
                                                'name' => 'digits',
                                                'message' => array('notDigits' => 'Somente números'))
                                        ,)
                                    ));
                                    ?>
                                    <tr>
                                        <td><?php echo $entity->getTitle() ?></td>
                                        <td class="center"><?php echo $this->formatCurrency($entity->getUnitPrice(), array('prefix' => 'R$', 'locale' => 'pt_br')); ?></td>
                                        <td class="center"><?php echo $entity->getQuantityPerBox() ?></td>
                                        <td class="center"><?php echo $this->formatCurrency($entity->getBoxPrice(), array('prefix' => 'R$', 'locale' => 'pt_br')); ?></td>
                                        <td class="centeralign">
                                            <?php echo $this->formInput($form->get("produto[{$entity->getId()}]")) ?>
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
                            </tbody>
                        </table>
                        <p class="stdformbutton">
                            <?php echo $this->formSubmit($form->get('submit')) ?>
                        </p>
                        <?php echo $this->form()->closeTag($form); ?>
                    </div>


                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    </div>
                    <div class="clearfix"></div>

                </div>
                <div class="barra-bottom"></div>

            </div>
        </div>
    </div>

</div>

<script>
    var message = '<?php echo $message ?>';
    $(function() {
        if (message != '') {
            alert('<?php echo $this->translate('Mensagem enviado com sucesso!') ?>');
        }
    });
</script>



<script>

    var urlBase = '<?php echo $this->url('distributor-page', array('controller' => 'distributors')); ?>';
    var parsBusca = <?php echo $this->queryPars; ?>;
    var campos = new Array('title', 'language_id');

    function alterConfigLimit(par)
    {
        urlDest = urlBase + '/config-limit/' + par;
        window.location = urlDest;
    }

    function filter()
    {
        var buscar = false;
        var parametrosBusca = new Array();

        for (var i = 0; i < campos.length; ++i) {
            var campoValor = jQuery('#' + campos[i]).attr('value');
            if (campoValor != '') {
                var campoNome = jQuery('#' + campos[i]).attr('id');
                var jsonPar = campoNome + "=" + encodeURIComponent(campoValor);
                parametrosBusca.push(jsonPar);
                buscar = true;
            }
        }

        if (!buscar) {
            jAlert('Informe os parâmetros para efetuar uma busca!');
            jQuery('#' + campos[0]).focus();
            return false;
        } else {
            var query = parametrosBusca.join("&");
            urlDest = urlBase + '?' + query;
            window.location = urlDest;
        }

        return false;
    }

    jQuery(function() {
        jQuery('.campo-busca').keydown(function(e) {
            if (e.keyCode == 13) {
                return filter();
            }
        });

        jQuery('.confirm-delete').click(function() {
            var hrefDelete = jQuery(this).attr('href');
            var textConfirm = jQuery(this).attr('rel');
            jConfirm(textConfirm, 'Confirmar Exclusão?', function(r) {
                if (r) {
                    window.location.href = hrefDelete;
                }
            });
            return false;
        });

        jQuery.each(parsBusca, function(key, value) {
            jQuery("#" + key).val(value);
        });
    });

</script>