    <div class="footer">
            <div class="footer-left">
                <span>&copy; 2014. Manager Site. Todos os direitos reservados.</span>
            </div>
            <div class="footer-right">
                <span style="visibility: hidden;">Designed by: <a href="http://themepixels.com/">ThemePixels</a></span>
            </div>
    </div><!--footer-->