<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

        <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>
        <?php echo $this->headMeta()->appendName('description', 'Trump Admin') ?>
        <?php echo $this->headMeta()->appendName('author', 'Trump') ?>
        
	<?php echo $this->headTitle('Trump AG Web'); ?>
        <base href="/" />
        <?php
        echo $this->headLink(array('rel' => 'shortcut icon', 
                                   'type' => 'image/vnd.microsoft.icon', 
                                   'href' => $this->basePath() . '/manager-files/images/favicon.ico'))
                  ->appendStylesheet($this->basePath() . '/assets/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css')
                  ->appendStylesheet($this->basePath() . '/assets/css/font-icons/entypo/css/entypo.css')  
                  ->appendStylesheet('http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic')
                  ->appendStylesheet($this->basePath() . '/assets/css/bootstrap.css')
                  ->appendStylesheet($this->basePath() . '/assets/css/neon-core.css')
                  ->appendStylesheet($this->basePath() . '/assets/css/neon-theme.css')
                  ->appendStylesheet($this->basePath() . '/assets/css/neon-forms.css')
                  ->appendStylesheet($this->basePath() . '/assets/css/custom.css')
                  ->appendStylesheet($this->basePath() . '/manager-files/js/chosen/chosen.css')    
        ?>
        
        <?php
        echo $this->headScript()
                  ->appendFile($this->basePath() . '/assets/js/jquery-1.11.0.min.js')
        ?>
	<script>$.noConflict();</script>

	<!--[if lt IE 9]><script src="assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
        
        <style>
            .center { text-align: center;}
            
            .list-sub-checkboxes { margin-left: 5px;}
            .sub-checkboxes { margin-left: 30px; margin-top: 10px; margin-bottom: 10px; 
                              display: none;
            }
    
            
            .paging a
            {
                display:inline-block;
                padding:5px 10px;
                border:1px solid #cccccc;
                border-radius: 3px;
                margin-right:5px;
            }

            .paging a:hover
            {
                background-color:#428bca;
                color:#ffffff;
                text-decoration: none;
            }

            .paging
            {
                /*text-align:center;*/
            }
            
            .tile-stats { height: 136px}
            .tile-stats { text-align: center;}
            .tile-stats p { font-size:13px; font-weight: bold; height: 40px;}
            .tile-stats .num { font-size:28px; }
            
            .tile-stats.tile-neon-green {
                background: none repeat scroll 0 0 green;
            }
            
            .bloco-avaliacao hr { border:1px dotted #FFF; }
            
            .table-quantity {
                width: 100%; margin-bottom:10px;
            }
            .table-quantity td {
                color:#FFF; text-align: left;
            }
            .table-quantity .label-question {
                width: 92%; font-size: 11px;
            }
            
            .table-space { height:30px;}
            
            
            .not-found-result { text-align: center;font-size: 16px;font-weight: bold; 
                               padding-top: 20px; padding-bottom: 20px; }
            
            .options-top { float:right; margin-bottom: 20px;}
        </style>
        
</head>
<body class="page-body  page-fade gray" data-url="">

<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
	
	<div class="sidebar-menu">

		<div class="sidebar-menu-inner">
			
			<header class="logo-env">

				<!-- logo -->
				<div class="logo">
					<a href="/manager">
                                            <img src="/images/zf2-logo.png" width="140" alt="" style="margin-left:20px;" />
					</a>
				</div>

				<!-- logo collapse icon -->
				<div class="sidebar-collapse">
					<a href="#" class="sidebar-collapse-icon">
                                            <!-- add class "with-animation" if you want sidebar to have animation during 
                                            expanding/collapsing transition -->
						<i class="entypo-menu"></i>
					</a>
				</div>

								
				<!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->
				<div class="sidebar-mobile-menu visible-xs">
					<a href="#" class="with-animation"><!-- add class "with-animation" to 
                                        support animation -->
						<i class="entypo-menu"></i>
					</a>
				</div>

			</header>
			
			<?php echo $this->partial('layout-admin/sidebar'); ?>						
			
		</div>

	</div>
        
        <div class="main-content">

            <div class="row">
                           <!-- Profile Info and Notifications -->
                <div class="col-md-6 col-sm-8 clearfix">

                    <ul class="user-info pull-left pull-none-xsm">

                            <!-- Profile Info -->
                            <li class="profile-info dropdown"><!-- add class "pull-right" if you want to place this from right -->
                                    <?php $user = $this->UserIdentity('Manager'); ?>                                   
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <?php if($user->getPhoto() != ''):  ?>
                                                <img src="/thumb?i=45x45|../media/users/<?php echo $user->getPhoto();  ?>" 
                                                     class="img-circle" width="44">
                                            <?php else:  ?>    
                                                <img src="/manager-files/images/photos/thumb1.png" 
                                                     class="img-circle" width="44" />
                                            <?php endif;  ?>
                                                    
                                            <?php echo $user->getFirstName(); ?> (<?php echo $user->getEmail(); ?>)
                                            
                                    </a>

                                    <ul class="dropdown-menu">

                                            <!-- Reverse Caret -->
                                            <li class="caret"></li>

                                            <!-- Profile sub-links -->
                                            <li>
                                                <a href="<?php echo $this->url('manager', 
                                                                                array('controller' => 'users', 
                                                                                      'action' => 'edit-account')) ?>">
                                                    <i class="entypo-user"></i>
                                                    Editar Conta
                                                </a>
                                            </li>
<!--
                                            <li>
                                                    <a href="mailbox.html">
                                                            <i class="entypo-mail"></i>
                                                            Inbox
                                                    </a>
                                            </li>

                                            <li>
                                                    <a href="extra-calendar.html">
                                                            <i class="entypo-calendar"></i>
                                                            Calendar
                                                    </a>
                                            </li>

                                            <li>
                                                    <a href="#">
                                                            <i class="entypo-clipboard"></i>
                                                            Tasks
                                                    </a>
                                            </li>-->
                                    </ul>
                            </li>

                    </ul>

                    <ul class="user-info pull-left pull-right-xs pull-none-xsm">

                            <!-- Raw Notifications -->
                            <li class="notifications dropdown" style="display:none;">

                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                            <i class="entypo-attention"></i>
                                            <span class="badge badge-info">6</span>
                                    </a>

                                    <ul class="dropdown-menu">
                                            <li class="top">
                                                    <p class="small">
                                                            <a href="#" class="pull-right">Mark all Read</a>
                                                            You have <strong>3</strong> new notifications.
                                                    </p>
                                            </li>

                                            <li>
                                                    <ul class="dropdown-menu-list scroller">
                                                            <li class="unread notification-success">
                                                                    <a href="#">
                                                                            <i class="entypo-user-add pull-right"></i>

                                                                            <span class="line">
                                                                                    <strong>New user registered</strong>
                                                                            </span>

                                                                            <span class="line small">
                                                                                    30 seconds ago
                                                                            </span>
                                                                    </a>
                                                            </li>

                                                            <li class="unread notification-secondary">
                                                                    <a href="#">
                                                                            <i class="entypo-heart pull-right"></i>

                                                                            <span class="line">
                                                                                    <strong>Someone special liked this</strong>
                                                                            </span>

                                                                            <span class="line small">
                                                                                    2 minutes ago
                                                                            </span>
                                                                    </a>
                                                            </li>

                                                            <li class="notification-primary">
                                                                    <a href="#">
                                                                            <i class="entypo-user pull-right"></i>

                                                                            <span class="line">
                                                                                    <strong>Privacy settings have been changed</strong>
                                                                            </span>

                                                                            <span class="line small">
                                                                                    3 hours ago
                                                                            </span>
                                                                    </a>
                                                            </li>

                                                            <li class="notification-danger">
                                                                    <a href="#">
                                                                            <i class="entypo-cancel-circled pull-right"></i>

                                                                            <span class="line">
                                                                                    John cancelled the event
                                                                            </span>

                                                                            <span class="line small">
                                                                                    9 hours ago
                                                                            </span>
                                                                    </a>
                                                            </li>

                                                            <li class="notification-info">
                                                                    <a href="#">
                                                                            <i class="entypo-info pull-right"></i>

                                                                            <span class="line">
                                                                                    The server is status is stable
                                                                            </span>

                                                                            <span class="line small">
                                                                                    yesterday at 10:30am
                                                                            </span>
                                                                    </a>
                                                            </li>

                                                            <li class="notification-warning">
                                                                    <a href="#">
                                                                            <i class="entypo-rss pull-right"></i>

                                                                            <span class="line">
                                                                                    New comments waiting approval
                                                                            </span>

                                                                            <span class="line small">
                                                                                    last week
                                                                            </span>
                                                                    </a>
                                                            </li>
                                                    </ul>
                                            </li>

                                            <li class="external">
                                                    <a href="#">View all notifications</a>
                                            </li>
                                    </ul>

                            </li>

                            <!-- Message Notifications -->
                            <li class="notifications dropdown">

                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <i class="entypo-mail"></i>
                                    
                                    <?php //$comments = $this->getLastComments(); ?>
                                    <!-- <span class="badge badge-secondary">10</span>-->
                                </a>
                                
                                
                                
                                <ul class="dropdown-menu">
                                    <li>
                                        <form class="top-dropdown-search">

                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Buscar..." id="search_top_comments" />
                                            </div>
                                                
                                        </form>

                                            <ul class="dropdown-menu-list scroller">
                                                   
                                            </ul>
                                        </li>

                                        <li class="external">
                                            <a href="<?php echo $this->url('manager', array('controller' => 'messages-manager')); ?>">
                                                Todas as mensagens</a>
                                        </li>
                                </ul>

                            </li>

                            <!-- Task Notifications -->
                            <li class="notifications dropdown">

                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" 
                                   data-close-others="true">
                                    <i class="entypo-list"></i>
                                    <!--
                                    <span class="badge badge-warning">1</span>
                                    -->
                                </a>

                                <ul class="dropdown-menu">
<!--                                        <li class="top">
                                                <p>You have 6 pending tasks</p>
                                        </li>-->

                                    <li>
                                        <ul class="dropdown-menu-list scroller">
                                            <li class="comments-list">
                                                    <a href="/manager/messages-manager/view/503">
                                                        <span class="line">
                                                                  
                                                                    <strong>Administrador</strong>
                                                                  
                                                                - 18/02/2015 10:00:34                                                        
                                                        </span>

                                                        <span class="line desc small" title="dasdasd">
                                                            dasdasd
                                                        </span>
                                                    </a>
                                                </li>
                                            
                                            
                                        </ul>
                                    </li>

<!--                                    <li class="external">
                                            <a href="#">See all tasks</a>
                                    </li>-->
                                </ul>

                            </li>

                    </ul>

                </div>

                <!-- Raw Links -->
                <div class="col-md-6 col-sm-4 clearfix hidden-xs">

                        <ul class="list-inline links-list pull-right">

                                <!-- Language Selector -->
                                <li class="dropdown language-selector" style="visibility: hidden;">
                                        
                                        Idioma: &nbsp;
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-close-others="true">
                                                <img src="assets/images/flag-es.png" />
                                        </a>

                                        <ul class="dropdown-menu pull-right">
                                            
                                            <li>
                                                <a href="#">
                                                    <img src="assets/images/flag-es.png" />
                                                    <span>Español</span>
                                                </a>
                                            </li>
                                            
                                        </ul>

                                </li>
                                
                                <li class="sep"></li>
                                    
                                <li style="visibility: hidden;">
                                    <a href="#" data-toggle="chat" data-collapse-sidebar="1">
                                        <i class="entypo-chat"></i>
                                        Chat
                                        <span class="badge badge-success chat-notifications-badge is-hidden">0</span>
                                    </a>
                                </li>

                                <li class="sep"></li>

                                <li>
                                        <a href="<?php echo $this->url('user-logoff') ?>">
                                                Sair <i class="entypo-logout right"></i>
                                        </a>
                                </li>
                        </ul>

                </div>

            </div>    
            <hr />
            
            <?php echo $this->content; ?>
            
            <!-- Footer -->
            <footer class="main">
                <?php $dateTime = new \DateTime('now'); ?>
                &copy; <?php echo $dateTime->format('Y'); ?> <a href="http://www.solverit.com.br/" target="_blank"><strong>Trump</strong></a>  
                <!-- <a href="http://laborator.co" target="_blank">Laborator</a>-->

            </footer>
        </div>

        <div id="chat" class="fixed" data-current-user="Art Ramadani" data-order-by-status="1" data-max-chat-history="25">

        <div class="chat-inner">


                <h2 class="chat-header">
                        <a href="#" class="chat-close"><i class="entypo-cancel"></i></a>

                        <i class="entypo-users"></i>
                        Chat
                        <span class="badge badge-success is-hidden">0</span>
                </h2>


                <div class="chat-group" id="group-1">
                        <strong>Favorites</strong>

                        <a href="#" id="sample-user-123" data-conversation-history="#sample_history"><span class="user-status is-online"></span> 
                            <em>Catherine J. Watkins</em></a>
                        <a href="#"><span class="user-status is-online"></span> <em>Nicholas R. Walker</em></a>
                        <a href="#"><span class="user-status is-busy"></span> <em>Susan J. Best</em></a>
                        <a href="#"><span class="user-status is-offline"></span> <em>Brandon S. Young</em></a>
                        <a href="#"><span class="user-status is-idle"></span> <em>Fernando G. Olson</em></a>
                </div>


                <div class="chat-group" id="group-2">
                        <strong>Work</strong>

                        <a href="#"><span class="user-status is-offline"></span> <em>Robert J. Garcia</em></a>
                        <a href="#" data-conversation-history="#sample_history_2"><span class="user-status is-offline"></span> 
                            <em>Daniel A. Pena</em></a>
                        <a href="#"><span class="user-status is-busy"></span> <em>Rodrigo E. Lozano</em></a>
                </div>


                <div class="chat-group" id="group-3">
                        <strong>Social</strong>

                        <a href="#"><span class="user-status is-busy"></span> <em>Velma G. Pearson</em></a>
                        <a href="#"><span class="user-status is-offline"></span> <em>Margaret R. Dedmon</em></a>
                        <a href="#"><span class="user-status is-online"></span> <em>Kathleen M. Canales</em></a>
                        <a href="#"><span class="user-status is-offline"></span> <em>Tracy J. Rodriguez</em></a>
                </div>

        </div>

        <!-- conversation template -->
        <div class="chat-conversation">

                <div class="conversation-header">
                        <a href="#" class="conversation-close"><i class="entypo-cancel"></i></a>

                        <span class="user-status"></span>
                        <span class="display-name"></span>
                        <small></small>
                </div>

                <ul class="conversation-body">
                </ul>

                <div class="chat-textarea">
                        <textarea class="form-control autogrow" placeholder="Type your message"></textarea>
                </div>

        </div>

</div>

        <!-- Chat Histories -->
        <ul class="chat-history" id="sample_history">
                <li>
                        <span class="user">Art Ramadani</span>
                        <p>Are you here?</p>
                        <span class="time">09:00</span>
                </li>

                <li class="opponent">
                        <span class="user">Catherine J. Watkins</span>
                        <p>This message is pre-queued.</p>
                        <span class="time">09:25</span>
                </li>

                <li class="opponent">
                        <span class="user">Catherine J. Watkins</span>
                        <p>Whohoo!</p>
                        <span class="time">09:26</span>
                </li>

                <li class="opponent unread">
                        <span class="user">Catherine J. Watkins</span>
                        <p>Do you like it?</p>
                        <span class="time">09:27</span>
                </li>
        </ul>

        <!-- Chat Histories -->
        <ul class="chat-history" id="sample_history_2">
                <li class="opponent unread">
                        <span class="user">Daniel A. Pena</span>
                        <p>I am going out.</p>
                        <span class="time">08:21</span>
                </li>

                <li class="opponent unread">
                        <span class="user">Daniel A. Pena</span>
                        <p>Call me when you see this message.</p>
                        <span class="time">08:27</span>
                </li>
        </ul>
        
    </div>

	<!-- Imported styles on this page -->
	<link rel="stylesheet" href="/assets/js/jvectormap/jquery-jvectormap-1.2.2.css">
	<link rel="stylesheet" href="/assets/js/rickshaw/rickshaw.min.css">
        
        <?php
        echo $this->inlineScript()
                  ->prependFile($this->basePath() . '/js/util/php.js')                  
                  ->prependFile($this->basePath() . '/js/admin/base.js')                  
                  /* JavaScripts initializations and stuff */
                  ->prependFile($this->basePath('/assets/js/neon-custom.js'))
                  /* Demo Settings */
                  ->prependFile($this->basePath('/assets/js/neon-demo.js'))  
                  /* Bottom scripts (common) */
                  ->prependFile($this->basePath('/assets/js/gsap/main-gsap.js'))
                  ->prependFile($this->basePath('/assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js'))
                  ->prependFile($this->basePath('/assets/js/bootstrap.js'))
                  ->prependFile($this->basePath('/assets/js/joinable.js'))
                  ->prependFile($this->basePath('/assets/js/resizeable.js'))
                  ->prependFile($this->basePath('/assets/js/neon-api.js'))
                  ->appendFile($this->basePath() . '/manager-files/js/chosen/chosen.jquery.min.js')
        ?>
        
        <script>
            
        function hideMessage()
        {
            jQuery('#box-message').fadeOut();
        }
        
        jQuery(function() {
            window.setTimeout(hideMessage, 4000);
        });    
        
        </script>    

</body>
</html>