<ul id="main-menu" class="main-menu">
    <!-- add class "multiple-expanded" to allow multiple submenus to open -->
    <!-- class "auto-inherit-active-class" will automatically add "active" class for parent 
            elements who are marked already with class "active" -->
    <li class="opened active">
        <a href="<?php echo $this->url('manager'); ?>">
            <i class="entypo-gauge active" style="visibility: hidden;"></i>
            <span class="title">Dashboard</span>
        </a>
    </li>
    
    <li class="">
        <a href="<?php echo $this->url('manager', array('controller' => 'research-groups-manager')); ?>">
            <i class="entypo-gauge" style="visibility: hidden;"></i>
            <span class="title">Pesquisas</span>
        </a>
        <ul>
            <li id="question-manager"><a href="<?php echo $this->url('home') ?>"><span class="title">Lista de pesquisas</span></a></li>
            
            <li id="question-manager"><a href="<?php echo $this->url('home') ?>"><span class="title">Criar nova pesquisas</span></a></li>
        </ul>
    </li>  
    
</ul>