<div class="pageheader">
    <!--
    <form action="results.html" method="post" class="searchbar">
        <input type="text" name="keyword" placeholder="Buscar..." />
    </form>
    -->
    <div class="pageicon"><span class="iconfa-table"></span></div>
    <div class="pagetitle">
        <h5>Banners</h5>
        <h1>Lista de Banners</h1>
    </div>
</div><!--pageheader-->

<div class="maincontent">
    <div class="maincontentinner">
      
    <?php if($this->message != ''):  ?>
        <div class="alert alert-success" id="box-message-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <?php echo $this->message; ?>
         </div>

        <script>
        function hideMessage()
        {
            jQuery("#box-message-success").slideUp();
        }
            
        jQuery(function() {
            window.setTimeout(hideMessage, 4000);
        });
        </script>
    <?php endif;  ?>
        
        <a href="<?php echo $this->url('general', array('controller' => 'manager-banners', 
            'action' => 'new')) ?>" class="btn btn-info btn-rounded">Novo Banner</a>
        
        <h4 class="widgettitle"><span class="icon-pencil icon-white"></span>Banners</h4>
        
        <table id="table" class="table table-bordered responsive">
            
            <colgroup>
                <col class="con0" />
                <col class="con1" />
                <col class="con0" />
                <col class="con1" />
            </colgroup>
            
            <thead>
                <tr>
                    <th class="head0">&nbsp;</th>
                    <th class="head0">Título</th>
                    <th class="head0">Data</th>
                    <th class="head0 center">Ações</th>
                </tr>
            </thead>
            
            <tbody>
                <tr>
                    <td class="linha-campo-pesquisa"></td>
                    <td class="linha-campo-pesquisa"><input id="title" class="campo-busca" type="text"></td>
                    <td class="linha-campo-pesquisa"><input id="last_name" class="campo-busca" type="text" style="visibility: hidden;" ></td>
                    <td style="text-align: center;">
                    <a href="" class="btn btn-primary btn-rounded" onclick="return filter();"> 
                        <div class="iconsweets-magnifying iconsweets-white"></div>  &nbsp; Buscar
                    </a>
                        
                    </td>
                </tr>
                
                <?php foreach($this->data as $entity): ?>
                <tr>
                    
                    <td style="text-align: center;">
                        <a href="/media/banners/<?php echo $entity->getImage() ?>" target="_blank">
                        <img src="/thumb?dim=200x200&mode=inset&src=../media/banners/<?php echo $entity->getImage() ?>" /></a>
                        
                    
                    </td>
                    <td><?php echo $entity->getTitle() ?></td>
                    <td><?php echo $entity->getCreated()->format('d/m/Y') ?></td>
                    <td class="centeralign">
                        <a href="<?php echo $this->url('general', array('controller' => 'manager-banners', 
                                                                        'action' => 'edit', 
                                                                        'id' => $entity->getId())); ?>" 
                                       class="deleterow"><span class="icon-pencil"></span></a>
                        &nbsp;&nbsp;               
                        
                        <a href="<?php echo $this->url('general', array('controller' => 'manager-banners', 
                                                                        'action' => 'delete', 
                                                                        'id' => $entity->getId())); ?>" 
                                       class="deleterow confirm-delete" 
                                       rel="Excluir o banner  <br/><strong><?php echo $entity->getTitle() ?></strong>?">
                            <span class="icon-trash"></span></a>
                        
                    </td>
                </tr>
                <?php endforeach; ?>
                
                <?php if(count($this->data) == 0):  ?>
                <tr>
                    <td colspan="4" style="text-align: center;font-size: 16px;font-weight: bold; padding-top: 20px; padding-bottom: 20px;">Nenhum resultado encontrado.</td>
                </tr>    
                <?php endif;  ?>
                
            </tbody>
        </table>
        
        <?php echo $this->paginationControl($this->data, 'Sliding', 'paginator'); ?>
        
        <br/><br/><br/>
        <?php echo $this->partial('layout-admin/footer'); ?>
        
    </div>
</div>


<script>

var urlBase   = '<?php echo $this->url('general', array('controller' => 'manager-banners')); ?>';
var parsBusca = <?php echo $this->queryPars;  ?>;
var campos    = new Array('title');

function alterConfigLimit(par)
{
    urlDest = urlBase + '/config-limit/' + par; 
    window.location = urlDest;
}

function filter() 
{
    var buscar = false;
    var parametrosBusca = new Array();
    
    for(var i = 0; i < campos.length; ++i) {
        var campoValor = jQuery('#' + campos[i]).attr('value');
        if(campoValor != '') {
            var campoNome = jQuery('#' + campos[i]).attr('id');
            var jsonPar = campoNome+"="+encodeURIComponent(campoValor);
            parametrosBusca.push(jsonPar);
            buscar = true;
        }
    }
    
    if(!buscar) {
        jAlert('Informe os parâmetros para efetuar uma busca!');
        jQuery('#' + campos[0]).focus();
        return false;
    } else {
        var query = parametrosBusca.join("&");
        urlDest = urlBase + '?' + query; 
        window.location = urlDest;
    }
    
    return false;
}

jQuery(function() { 
    jQuery('.campo-busca').keydown(function(e) {
        if (e.keyCode == 13) {
            return filter();
        }
    });
    
    jQuery('.confirm-delete').click(function() {
        var hrefDelete = jQuery(this).attr('href'); 
        var textConfirm = jQuery(this).attr('rel');
        jConfirm(textConfirm, 'Confirmar Exclusão?', function(r) {
            if(r) {
                window.location.href = hrefDelete; 
            }
        });    
        return false;
    });
    
    jQuery.each(parsBusca,function(key, value) {
        jQuery("#" + key).val(value);
    });
 });   

</script>