        <div class="pageheader">
    
            <div class="pageicon"><span class="iconfa-pencil"></span></div>
            <div class="pagetitle">
                <h5>Banner</h5>
                <h1>Adicionar Banner</h1>
            </div>
        </div><!--pageheader-->
        
        <div class="maincontent">
            <div class="maincontentinner">
            
            <div class="widget">
            <h4 class="widgettitle">Banner</h4>
            <div class="widgetcontent">
                <?php
                $form = $this->form;
                $form->prepare();
                $form->setAttribute('class', 'stdform');
                $form->setAttribute('role', 'form');
                echo $this->form()->openTag($form);
                ?>
                    
                    <!------------------------------------------------------------------------------------------------->
                    
                    <?php $erros =  $form->get('title')->getMessages(); ?> 
                    <?php $numErros = count($erros);   ?>
                    
                    <div class="par control-group bloco <?php if($numErros > 0): ?>error<?php endif;  ?>">
                        <?php echo $this->formLabel($form->get('title'))?>
                        <div class="controls">
                          <?php echo $this->formInput($form->get('title'))?>
                            
                          <?php if( $numErros > 0):  ?>
                                <?php foreach($erros as $chave => $msg): ?>
                                <small class="desc-erro help-inline"><?php echo $msg; ?></small>
                            <?php endforeach; ?>
                          <?php endif;  ?>  
                                
                        </div>
                    </div><!--par-->
                    
                    <!------------------------------------------------------------------------------------------------->
                    
                    <?php $erros =  $form->get('link')->getMessages(); ?> 
                    <?php $numErros = count($erros);   ?>
                    
                    <div class="par control-group bloco <?php if($numErros > 0): ?>error<?php endif;  ?>">
                        <?php echo $this->formLabel($form->get('link'))?>
                        <div class="controls">
                          <?php echo $this->formInput($form->get('link'))?>
                            
                          <?php if( $numErros > 0):  ?>
                                <?php foreach($erros as $chave => $msg): ?>
                                <small class="desc-erro help-inline"><?php echo $msg; ?></small>
                            <?php endforeach; ?>
                          <?php endif;  ?>  
                                
                        </div>
                    </div><!--par-->
                    
                    <!------------------------------------------------------------------------------------------------->
                    
                    <p>
                        <?php echo $this->formLabel($form->get('image'))?>
                        <span class="field">
                            <?php echo $this->formFile($form->get('image'))?>
                        </span>
                    </p>
                    
                    <p class="stdformbutton">
                        <button class="btn btn-primary">Salvar</button>
                    </p>
                            
                    <?php echo $this->form()->closeTag(); ?>
                    </div><!--widgetcontent-->
                </div><!--widget-->

                <br/><br/><br/>
                <?php echo $this->partial('layout-admin/footer'); ?>

            </div><!--maincontentinner-->
        </div><!--maincontent-->
        