
    <div class="row">
        
        <div class="col-sm-12" style='float: right;'>
            <h3>Dashboard</h3>   
        </div>
        
        <div class="col-sm-12">
		
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="panel-title">Latest Updated Profiles</div>
		
						<div class="panel-options">
							<a href="#sample-modal" data-toggle="modal" data-target="#sample-modal-dialog-1" class="bg"><i class="entypo-cog"></i></a>
							<a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
							<a href="#" data-rel="reload"><i class="entypo-arrows-ccw"></i></a>
							<a href="#" data-rel="close"><i class="entypo-cancel"></i></a>
						</div>
					</div>
		
					<div class="panel-body with-table"><table class="table table-bordered table-responsive">
						<thead>
							<tr>
								<th>#</th>
								<th>Name</th>
								<th>Position</th>
								<th>Activity</th>
							</tr>
						</thead>
		
						<tbody>
							<tr>
								<td>1</td>
								<td>Art Ramadani</td>
								<td>CEO</td>
								<td class="text-center"><span class="inlinebar"><canvas width="29" height="14" style="display: inline-block; vertical-align: top; width: 29px; height: 14px;"></canvas></span></td>
							</tr>
		
							<tr>
								<td>2</td>
								<td>Filan Fisteku</td>
								<td>Member</td>
								<td class="text-center"><span class="inlinebar-2"><canvas width="29" height="14" style="display: inline-block; vertical-align: top; width: 29px; height: 14px;"></canvas></span></td>
							</tr>
		
							<tr>
								<td>3</td>
								<td>Arlind Nushi</td>
								<td>Co-founder</td>
								<td class="text-center"><span class="inlinebar-3"><canvas width="29" height="14" style="display: inline-block; vertical-align: top; width: 29px; height: 14px;"></canvas></span></td>
							</tr>
		
						</tbody>
					</table></div>
				</div>
		
			</div>
    </div>
    