
        <div class="pageheader">
    
            <div class="pageicon"><span class="iconfa-pencil"></span></div>
            <div class="pagetitle">
                <h5>Privilégios</h5>
                <h1>Editar Privilégio</h1>
            </div>
        </div><!--pageheader-->
        
        <div class="maincontent">
            <div class="maincontentinner">
            
            <div class="widget">
            <h4 class="widgettitle">Dados Cidade</h4>
            <div class="widgetcontent">
                <?php

                $form = $this->form;
                $form->setAttribute('class', 'mws-form');
                $form->setAttribute('method', 'post');
                $form->prepare();
                echo $this->form()->openTag($form);
                ?>
                
                    <!------------------------------------------------------------------------------------------------->
                    <?php echo $this->formElement($form->get('id')); ?>
                    
                    <?php echo $this->renderField($form->get('resource'));  ?>
        
                    <?php echo $this->renderField($form->get('name'));  ?>

                    <?php echo $this->renderField($form->get('alias'));  ?>
                    
                    <?php echo $this->renderField($form->get('display')); ?>
                    
                    <p class="stdformbutton">
                        <button class="btn btn-primary">Salvar</button>
                    </p>
                            
                    <?php echo $this->form()->closeTag(); ?>
                    </div><!--widgetcontent-->
                </div><!--widget-->

                <br/><br/><br/>
                <?php echo $this->partial('layout-admin/footer'); ?>

            </div><!--maincontentinner-->
        </div><!--maincontent-->
        