<hr />

<ol class="breadcrumb bc-3" >
    <li>
        <a href="/"><i class="fa-home"></i>Privilégios</a>
    </li>
        
    <li class="active">
        <strong>Lista de Privilégios</strong>
    </li>
</ol>
		
<h2>Lista de Privilégios</h2>

<?php echo $this->partial('manager/partials/list-messages'); ?>

<table class="table table-bordered table-striped datatable" id="table-2">
    <thead>
        <tr> 
            <th>ID</th>
            <th>Recurso</th>
            <th>Nome</th>
            <th>Mostra no Menu?</th>
            <th>Ação</th>
        </tr>
    </thead>

    <tbody>
        
    <?php foreach($this->data as $entity): ?>
    <tr>
        <td><?php echo $entity->getId(); ?></td>
        <td><?php echo $entity->getResource()->getName(); ?> (<?php echo $entity->getResource()->getAlias(); ?>) </td>
        <td><?php echo $entity->getAlias(); ?></td>
        <td><?php echo ($entity->getDisplay() == 1) ? 'Sim' : 'Não'; ?></td>
        <td>
            <a href="<?php echo $this->url('manager-internal',
                    array('controller'=>'privileges','action'=>'edit','id'=>$entity->getId())); ?>">Editar</a>
            -
            <a href="<?php echo $this->url('manager-internal',
                    array('controller'=>'privileges','action'=>'delete','id'=>$entity->getId())); ?>">Deletar</a>
        </td>
    </tr>
    <?php endforeach; ?>
                
    <?php if(count($this->data) == 0):  ?>
    <tr>
        <td colspan="4" class="not-found-result">Nenhum resultado encontrado.</td>
    </tr>    
    <?php endif;  ?>
    
    </tbody>
</table>

<?php echo $this->paginationControl($this->data, 'Sliding', 'paginator'); ?>