<hr />

<ol class="breadcrumb bc-3" >
    <li>
        <a href="/"><i class="fa-home"></i>Privilégios</a>
    </li>
        
    <li class="active">
        <strong>Lista de Privilégios</strong>
    </li>
</ol>
		
<h2>Lista de Privilégios</h2>

<?php echo $this->partial('manager/partials/list-messages'); ?>

<table class="table table-bordered table-striped datatable" id="table-2">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Admin?</th>
            <th>Ação</th>
        </tr>
    </thead>

    <tbody>
        
    <?php foreach($this->data as $entity): ?>   
        
    <tr>
        <td><?php echo $entity->getName(); ?></td>
        <td><?php echo $entity->getIsAdmin() ? 'Sim':'Não'; ?></td>
        <td>
            <a href="<?php echo $this->url('manager-internal',
                                            array('controller'=>'roles',
                                                  'action'=>'edit',
                                                  'id'=> $entity->getId())); ?>" 
                                            class="btn btn-default btn-sm btn-icon icon-left">
                    <i class="entypo-pencil"></i>
                    Editar
            </a>
            
            <a href="<?php echo $this->url('manager-internal',
                                             array('controller'=>'roles',
                                                   'action'=>'delete',
                                                   'id'=>$entity->getId())); ?>" 
                                                                      class="btn btn-danger btn-sm btn-icon icon-left">
                    <i class="entypo-cancel"></i>
                    Excluir
            </a>
            
        </td>
    </tr>
    <?php endforeach; ?>
                
    <?php if(count($this->data) == 0):  ?>
    <tr>
        <td colspan="4" class="not-found-result">Nenhum resultado encontrado.</td>
    </tr>    
    <?php endif;  ?>
    
    </tbody>

</table>


<?php echo $this->paginationControl($this->data, 'Sliding', 'paginator'); ?>



<div class="maincontent">
    <div class="maincontentinner">
      
    <?php if($this->message != ''):  ?>
        <div class="alert alert-success" id="box-message-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <?php echo $this->message; ?>
        </div>
        
        <script>
        function hideMessage()
        {
            jQuery("#box-message-success").slideUp();
        }
            
        jQuery(function() {
            window.setTimeout(hideMessage, 4000);
        });
        </script>
    <?php endif;  ?>
        
       <a href="<?php echo $this->url('manager',array('controller'=>'resources')); ?>" 
                 class="btn btn-info btn-rounded">Recursos</a>
                 
            
            
        <h4 class="widgettitle"><span class="icon-pencil icon-white"></span>Grupos</h4>
        
        <table id="table" class="table table-bordered responsive">
            
            <colgroup>
                <col class="con0" />
                <col class="con1" />
                <col class="con0" />
                <col class="con1" />
                <col class="con0" />
            </colgroup>
       
        <thead>     
        <tr> 
            <th>ID</th>
            <th>Recurso</th>
            <th>Nome</th>
            <th>Mostra no Menu?</th>
            <th>Ação</th>
        </tr>
        </thead>
        
        <tbody>
        <?php foreach($this->data as $entity): ?>
        <tr>
            <td><?php echo $entity->getId(); ?></td>
            <td><?php echo $entity->getResource()->getName(); ?> (<?php echo $entity->getResource()->getAlias(); ?>) </td>
            <td><?php echo $entity->getAlias(); ?></td>
            <td><?php echo ($entity->getDisplay() == 1) ? 'Sim' : 'Não'; ?></td>
            <td>
                <a href="<?php echo $this->url('manager-internal',
                        array('controller'=>'privileges','action'=>'edit','id'=>$entity->getId())); ?>">Editar</a>
                -
                <a href="<?php echo $this->url('manager-internal',
                        array('controller'=>'privileges','action'=>'delete','id'=>$entity->getId())); ?>">Deletar</a>
            </td>
        </tr>
        <?php endforeach; ?>
        </tbody>
        </table>
        
        <br>Privilégios
        <?php echo $this->paginationControl($this->data, 'Sliding', 'paginator'); ?>
        <br>
        
    </div>
</div>
