
<div class="box-form">

<h2>Acessar sua Conta</h2>

<?php
$form = $this->form;

$form->prepare();
echo $this->form()->openTag($form);
?>
    <div class="form-group">
        <label for="email"><?php echo $this->formLabel($form->get('email'));  ?></label>
        <?php echo $this->formElement($form->get('email'));  ?>
        <span class="help-block"><?php echo $this->formElementErrors($form->get('email'));  ?></span>
    </div>

    <div class="form-group">
        <label for="password"><?php echo $this->formLabel($form->get('password'));  ?></label>
        <?php echo $this->formElement($form->get('password'));  ?>
        <span class="help-block"><?php echo $this->formElementErrors($form->get('password'));  ?></span>
    </div>
    
    <?php echo $this->formSubmit($form->get('submit'));  ?>
    <br/>
    <a href="">Recover Password</a>
    <?php echo $this->form()->closeTag($form); ?>
    
</div>
