
        <div class="pageheader">
    
            <div class="pageicon"><span class="iconfa-pencil"></span></div>
            <div class="pagetitle">
                <h5>Galerias</h5>
                <h1>Nova Galeria</h1>
            </div>
        </div><!--pageheader-->
        
        <div class="maincontent">
            <div class="maincontentinner">
            
            <div class="widget">
            <h4 class="widgettitle">Dados da Galeria</h4>
            <div class="widgetcontent">
                <?php
                $form = $this->form;
                $form->prepare();
                $form->setAttribute('class', 'stdform');
                $form->setAttribute('role', 'form');
                echo $this->form()->openTag($form);
                ?>
                    
                    <?php echo $this->renderField($form->get('name'), "Nome");  ?>
                
                    <?php echo $this->renderField($form->get('description'));  ?>
                    
                    <p class="stdformbutton">
                        <button class="btn btn-primary">Salvar</button>
                    </p>
                            
                    <?php echo $this->form()->closeTag(); ?>
                    </div><!--widgetcontent-->
                </div><!--widget-->

                <br/><br/><br/>
                <?php echo $this->partial('layout-admin/footer'); ?>

            </div><!--maincontentinner-->
        </div><!--maincontent-->
        
<script>
jQuery(function() {
    jQuery("#select_cities").chosen({disable_search_threshold: 10, max_selected_options:50, no_results_text: ""});
});    
</script>