<div class="pageheader">
    <form action="results.html" method="post" class="searchbar">
        <input type="text" name="keyword" placeholder="Buscar..." />
    </form>
    <div class="pageicon"><span class="iconfa-table"></span></div>
    <div class="pagetitle">
        <h5>Lista de menus e Estruturas</h5>
        <h1>Menu Principal</h1>
    </div>
</div><!--pageheader-->

<div class="maincontent">
    <div class="maincontentinner">

        <p>
            <label>Selecione o menu</label>
            <span class="formwrapper">
                <select data-placeholder="Escolha um menu..." style="width:350px" class="chzn-select" tabindex="2">
                    <option value="Menu Principal">Menu Principal</option> 
                    <option value="Menu Institucional">Menu Institucional</option> 
                    <option value="Menu Hospitalar">Menu Hospitalar</option> 
                </select>
            </span>
        </p>
        <div class="widget">
            <h4 class="widgettitle">Novo Item de Menu</h4>
            <div class="widgetcontent">
                <?php
                $form = $this->form;
                $form->prepare();
                $form->setAttribute('class', 'stdform');
                $form->setAttribute('role', 'form');
                echo $this->form()->openTag($form);
                ?>
                <p>
                    <label><?php echo $this->formLabel($form->get('title')); ?></label>
                    <span class="field"><?php echo $this->formInput($form->get('title')); ?></span>
                </p>
                <p>
                    <label><?php echo $this->formLabel($form->get('url-menu')); ?></label>
                    <span class="field">
                        <?php echo $this->formInput($form->get('url-menu')); ?>
                    </span>
                </p>
                <p>
                    <label><?php echo $this->formLabel($form->get('menu_id')); ?></label>
                    <span class="formwrapper">
                        <?php echo $this->formSelect($form->get('menu_id')); ?>
                    </span>
                </p>
                <p class="stdformbutton">
                    <button type="submit" class="btn btn-primary">Salvar Menu</button>
                </p>
                <?php echo $this->form()->closeTag(); ?>
            </div>


            <h4 class="widgettitle"><span class="icon-pencil icon-white"></span>Menu</h4>
            <table id="dyntable" class="table table-bordered responsive">
                <colgroup>
                    <col class="con0" />
                    <col class="con1" />
                    <col class="con0" />
                    <col class="con1" />
                </colgroup>
                <thead>
                    <tr>
                        <th class="head0 center">Ordem</th>
                        <th class="head1">Menu</th>
                        <th class="head0 center">Editar</th>
                        <th class="head1 center">Remover</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="gradeX">
                        <td>01</td>
                        <td>Página inicial</td>
                        <td class="centeralign"><a href="" class="deleterow"><span class="icon-pencil"></span></a></td>
                        <td class="centeralign"><a href="" class="deleterow"><span class="icon-trash"></span></a></td>
                    </tr>
                    <tr class="gradeX">
                        <td>02</td>
                        <td>Institucional</td>
                        <td class="centeralign"><a href="" class="deleterow"><span class="icon-pencil"></span></a></td>
                        <td class="centeralign"><a href="" class="deleterow"><span class="icon-trash"></span></a></td>
                    </tr>
                    <tr class="gradeX">
                        <td>02 <span class="icon-arrow-right"></span> 01</td>
                        <td>Institucional <span class="icon-arrow-right"></span> A Profilática </td>
                        <td class="centeralign"><a href="" class="deleterow"><span class="icon-pencil"></span></a></td>
                        <td class="centeralign"><a href="" class="deleterow"><span class="icon-trash"></span></a></td>
                    </tr>
                    <tr class="gradeX">
                        <td>02 <span class="icon-arrow-right"></span> 02</td>
                        <td>Institucional <span class="icon-arrow-right"></span> Visão, Missão, Valores </td>
                        <td class="centeralign"><a href="" class="deleterow"><span class="icon-pencil"></span></a></td>
                        <td class="centeralign"><a href="" class="deleterow"><span class="icon-trash"></span></a></td>
                    </tr>
                    <tr class="gradeX">
                        <td>02 <span class="icon-arrow-right"></span> 03</td>
                        <td>Institucional <span class="icon-arrow-right"></span> Trabalhe Conosco </td>
                        <td class="centeralign"><a href="" class="deleterow"><span class="icon-pencil"></span></a></td>
                        <td class="centeralign"><a href="" class="deleterow"><span class="icon-trash"></span></a></td>
                    </tr>
                    <tr class="gradeX">
                        <td>02 <span class="icon-arrow-right"></span> 04</td>
                        <td>Institucional <span class="icon-arrow-right"></span> Responsabilidade Social </td>
                        <td class="centeralign"><a href="" class="deleterow"><span class="icon-pencil"></span></a></td>
                        <td class="centeralign"><a href="" class="deleterow"><span class="icon-trash"></span></a></td>
                    </tr>
                    <tr class="gradeX">
                        <td>03</td>
                        <td>Hospitalar</td>
                        <td class="centeralign"><a href="" class="deleterow"><span class="icon-pencil"></span></a></td>
                        <td class="centeralign"><a href="" class="deleterow"><span class="icon-trash"></span></a></td>
                    </tr>
                    <tr class="gradeX">
                        <td>03 <span class="icon-arrow-right"></span> 01</td>
                        <td>Hospitalar <span class="icon-arrow-right"></span> Antissepsia </td>
                        <td class="centeralign"><a href="" class="deleterow"><span class="icon-pencil"></span></a></td>
                        <td class="centeralign"><a href="" class="deleterow"><span class="icon-trash"></span></a></td>
                    </tr>
                    <tr class="gradeX">
                        <td>03 <span class="icon-arrow-right"></span> 02</td>
                        <td>Hospitalar <span class="icon-arrow-right"></span> Limpeza e Tratamento de Instrumentais </td>
                        <td class="centeralign"><a href="" class="deleterow"><span class="icon-pencil"></span></a></td>
                        <td class="centeralign"><a href="" class="deleterow"><span class="icon-trash"></span></a></td>
                    </tr>
                    <tr class="gradeX">
                        <td>03 <span class="icon-arrow-right"></span> 03</td>
                        <td>Hospitalar <span class="icon-arrow-right"></span> Desinfecção de Nível Alto e Intermediário </td>
                        <td class="centeralign"><a href="" class="deleterow"><span class="icon-pencil"></span></a></td>
                        <td class="centeralign"><a href="" class="deleterow"><span class="icon-trash"></span></a></td>
                    </tr>
                    <tr class="gradeX">
                        <td>03 <span class="icon-arrow-right"></span> 04</td>
                        <td>Hospitalar <span class="icon-arrow-right"></span> Desinfecção de Superficies </td>
                        <td class="centeralign"><a href="" class="deleterow"><span class="icon-pencil"></span></a></td>
                        <td class="centeralign"><a href="" class="deleterow"><span class="icon-trash"></span></a></td>
                    </tr>
                    <tr class="gradeX">
                        <td>03 <span class="icon-arrow-right"></span> 05</td>
                        <td>Hospitalar <span class="icon-arrow-right"></span> Equipamentos </td>
                        <td class="centeralign"><a href="" class="deleterow"><span class="icon-pencil"></span></a></td>
                        <td class="centeralign"><a href="" class="deleterow"><span class="icon-trash"></span></a></td>
                    </tr>
                </tbody>
            </table>

            <br />