<div class="conteudo pagina">
    <div class="container">
        <div class="row">
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                <h2 class="titulo-conteudo"><?php echo $this->translate("Distributors"); ?></h2>
                <p><?php echo $this->translate("ÁREA ADMINISTRATIVA"); ?>:</p>
                <div class="row">
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    </div>
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">

                        <?php
                        $this->headScript()->appendFile($this->basePath() . '/js/vendor/jquery.maskedinput.min.js')
                                ->appendFile($this->basePath() . '/js/util/validacoes.js')
                                ->appendFile($this->basePath() . '/js/site/contato.js')
                        ?> 

                        <?php
                        $form = $this->form;
                        $form->setAttribute('action', $this->url('distributor-login'));
                        $form->setAttribute('id', 'login');

                        $form->prepare();
                        echo $this->form()->openTag($form);
                        ?>

                        <div class="form-group">
                            <?php echo $this->formInput($form->get('username')); ?>
                        </div>

                        <div class="form-group">
                            <?php echo $this->formInput($form->get('password')); ?>
                        </div>

                        <button name="submit" id="send-login">Conectar</button>
                        <br/><br/>

                        <?php echo $this->form()->closeTag(); ?>

                    </div>


                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    </div>
                    <div class="clearfix"></div>

                </div>
                <div class="barra-bottom"></div>

            </div>

            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <?php echo $this->boxPost($this->translate('Novidades'), 'novidades'); ?>

                <?php echo $this->boxPost($this->translate('News'), 'noticias'); ?>

            </div>
        </div>
    </div>

</div>

<script>
    $(function() {
        $('input[name=username]').focus();
    });
</script> 