
<div class="main">
  
    <div class="bread">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <a href=""><?php echo $this->translate('Página Inicial'); ?></a>
            <?php echo $this->translate('Acesso'); ?>
          </div>
        </div>
      </div>
    </div>
    
  <div class="container">
    <div class="conteudo">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
          <h1 class="titulo-h1"><?php echo $this->translate('Faça Seu login'); ?></h1>
        </div>
        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">

        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, laudantium. Veniam vero, consectetur eum doloremque laboriosam sapiente expedita. Illo architecto sunt, voluptatum reiciendis tempore quaerat similique odio quas voluptatibus, dolorem.</p>
          <br/><br/>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <h3>Login</h3>
          <div class="box-login">
              
                <?php
                $this->headScript()->appendFile($this->basePath() . '/js/vendor/jquery.maskedinput.min.js')
                        ->appendFile($this->basePath() . '/js/util/validacoes.js')
                        ->appendFile($this->basePath() . '/js/site/contato.js')
                ?> 

                <?php
                $form = $this->form;
                $form->setAttribute('action', $this->url('distributor-login'));
                $form->setAttribute('id', 'login');

                $form->prepare();
                echo $this->form()->openTag($form);
                ?>

                <div class="form-group form-group-lg">
                    <?php echo $this->formInput($form->get('username')); ?>
                </div>

                <div class="form-group form-group-lg">
                    <?php echo $this->formInput($form->get('password')); ?>
                </div>

                <button name="submit" id="send-login" class="btn btn-default btn-transparente-preto btn-lg btn-block">Conectar</button>
                <br/><br/>

                <?php echo $this->form()->closeTag(); ?>
              
            </form>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <h3><?php echo $this->translate('Cadastre-se'); ?></h3>
          <div class="box-cadastre">
            <div class="row">
                
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore beatae ipsum expedita, alias distinctio fuga iste veritatis voluptatem sunt voluptatibus fugit illo, ab porro et, aliquam quisquam similique hic earum.</p>
                <button type="submit" 
                        onclick="window.location.href= '/' + locale + '/register'"
                        class="btn btn-default btn-transparente-preto btn-lg btn-block"><?php echo $this->translate('Cadastrar'); ?></button>
              </div>
                
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6  hidden-xs">
                <img src="/img/img-cadastre.jpg" class="img-responsive" style="margin-top:27px" alt="">
              </div>
                
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>


<script>
    $(function() {
        $('input[name=username]').focus();
    });
</script>