<?php echo $this->doctype(); ?>

<html lang="pt-br">
<head>

<meta charset="utf-8"/>

<meta http-equiv="X-UA-Compatible" content="IE=edge">   
<?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1') ?>
<?php echo $this->headTitle('Start Site')->setSeparator(' - ')->setAutoEscape(false) ?> 

<!-- Le styles -->
<?php 
    
    echo $this->headLink(
                            //array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', '
                              //   href' => $this->basePath() . '/images/favicon.ico')
                              )
                ->prependStylesheet($this->basePath() . '/css/bootstrap.min.css');
    
?>

<!-- Scripts -->

<?php echo $this->headScript()->prependFile($this->basePath() . '/js/html5.js', 'text/javascript', array('conditional' => 'lt IE 9',))
                              ->prependFile($this->basePath() . '/js/jquery.min.js') 
                              ->appendFile($this->basePath() . '/js/bootstrap.min.js')   
                                ?>


<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

</head>

<body>
        
    <div class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="<?php echo $this->url('home'); ?>">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="<?php echo $this->url('front-contact'); ?>">Contact</a></li>
              
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    
    <div class="container theme-showcase" role="main">  
        <?php echo $this->content;  ?>
    </div>
     
    </body>
</html>
