
        <div class="pageheader">
    
            <div class="pageicon"><span class="iconfa-pencil"></span></div>
            <div class="pagetitle">
                <h5>Imagens Galeria</h5>
                <h1>Nova Imagem</h1>
            </div>
        </div><!--pageheader-->
        
        <div class="maincontent">
            <div class="maincontentinner">
            
            <div class="widget">
            <h4 class="widgettitle">Enviar Nova Imagem</h4>
            <div class="widgetcontent">
                <?php
                $form = $this->form;
                $form->prepare();
                $form->setAttribute('class', 'stdform');
                $form->setAttribute('role', 'form');
                echo $this->form()->openTag($form);
                
                echo $this->formHidden($form->get('gallery'));
                ?>
                    <p>
                        <?php echo $this->formLabel($form->get('image'))?>
                        <span class="field">
                            <?php echo $this->formFile($form->get('image'))?>
                        </span>
                    </p>
                    
                    <?php echo $this->renderField($form->get('name'), "Nome");  ?>
                
                    <?php echo $this->renderField($form->get('description'));  ?>
                    
                    <p class="stdformbutton">
                        <button class="btn btn-primary">Salvar</button>
                    </p>
                            
                    <?php echo $this->form()->closeTag(); ?>
                    </div><!--widgetcontent-->
                </div><!--widget-->

                <br/><br/><br/>
                <?php echo $this->partial('layout-admin/footer'); ?>

            </div><!--maincontentinner-->
        </div><!--maincontent-->
        