<?php $erros =  $field->getMessages(); ?> 
<?php $numErros = count($erros);   ?>

<div class="form-group <?php if($numErros > 0): ?>validate-has-error<?php endif;  ?>">
    <label for="field-1" class="col-sm-3 control-label"><?php echo $field->getLabel(); ?></label>

    <div class="col-sm-5">
        <?php echo $this->formElement($field)?>
    </div>
    
    <?php if( $numErros > 0):  ?>
            <?php if(strstr($field->getName(), 'email') != ''): ?>
                <span id="name-error" class="validate-has-error">E-mail inválido.</span>
            <?php else: ?>
                <?php foreach($erros as $chave => $msg): ?>
                    <span id="name-error" class="validate-has-error"><?php echo $msg; ?></span>
                <?php endforeach; ?>
            <?php endif; ?>
            
      <?php endif;  ?>  

</div>
