<?php echo $this->flashMessenger()
                 ->setMessageOpenFormat('<div%s id="box-message">'
                         . '<button type="button" class="close" data-dismiss="alert">&times;</button><p>')
                 ->setMessageCloseString('</div>')
                 ->render('error', array('alert alert-danger')); ?>

<?php echo $this->flashMessenger()
                 ->setMessageOpenFormat('<div%s id="box-message">'
                         . '<button type="button" class="close" data-dismiss="alert">&times;</button><p>')
                 ->setMessageCloseString('</div>')
                 ->render('success', array('alert alert-success')); ?>