
<div class="box-form">

<h2>Crie sua Conta</h2>
<p>Você já tem um conta? <a href="">Jogue agora mesmo</a>.</p>
<?php
$form = $this->form;
$form->setAttribute("role", "form");

$form->prepare();
echo $this->form()->openTag($form);
?>

    <div class="form-group">
        <label for="name"><?php echo $this->formLabel($form->get('name'));  ?></label>
        <?php echo $this->formElement($form->get('name'));  ?>
        <span class="help-block"><?php echo $this->formElementErrors($form->get('name'));  ?></span>
    </div> 

    <div class="form-group">
        <label for="email"><?php echo $this->formLabel($form->get('email'));  ?></label>
        <?php echo $this->formElement($form->get('email'));  ?>
        <span class="help-block"><?php echo $this->formElementErrors($form->get('email'));  ?></span>
    </div>

    <div class="form-group">
        <label for="password"><?php echo $this->formLabel($form->get('password'));  ?></label>
        <?php echo $this->formElement($form->get('password'));  ?>
        <span class="help-block"><?php echo $this->formElementErrors($form->get('password'));  ?></span>
    </div>

    <div class="form-group">
        <label for="password_confirm"><?php echo $this->formLabel($form->get('password_confirm'));  ?></label>
        <?php echo $this->formElement($form->get('password_confirm'));  ?>
        <span class="help-block"><?php echo $this->formElementErrors($form->get('password_confirm'));  ?></span>
    </div>
    
    <?php echo $this->formSubmit($form->get('submit'));  ?>
    
    <div class="form-group">
        <br/>
        <a href="">Recuperar acesso</a> &nbsp;-&nbsp; 
        <a href="">Criar conta</a>   
    </div>


    <?php echo $this->form()->closeTag($form); ?>
    
</div>    