.input-correction-margin{
    margin-left: 0px;
    margin-top: 15px;
    margin-bottom: 5px;
}
.stdform label {
    float: left;
    width: 40px;
    text-align: right;
    padding: 5px 20px 0 0;
}
.stdform span.field, .stdform div.field {
    margin-left: 80px;
    display: block;
    position: relative;
}
.multicheckbox label{
    float: left;
    width: 100px;
    text-align: right;
    padding: 5px 20px 0 0;
}
/*Hack for Firefox, widget cntent for keywords*/
@-moz-document url-prefix() { 
    .widgetcontent #tags_tagsinput {
        left: -220px;
        position: relative;
        top: 26px;
    }
}

.label-checkbox{
    
}

.label-checkbox .multicheckbox label {
    float: left;
    padding: 5px 20px 0 0;
    text-align: left;
    width: 100%;
}
#postCategoriesWrapper{
    margin-left: 0px !important;
}

#postCategoriesWrapper label{
    width: 100%;
    float: left;
    text-align: left;
}