<?php
$urlPattern = $_SERVER['REQUEST_URI'];

$formatUrl = function ($page) use ($urlPattern) {
    if (!preg_match('/page/', $urlPattern)) {
        return $urlPattern . '/page/' . (int) $page;
    }    
    else {
        return preg_replace('@/page/\d@', '/page/' . (int) $page, $urlPattern);
    }    
};

?>


<!--
See http://developer.yahoo.com/ypatterns/pattern.php?pattern=searchpagination
-->
<center>
    <?php if ($this->pageCount): ?>
    <div class="col-md-6">
    
        <ul class="pagination">
            
            <!-- Previous page link -->
            <?php if (isset($this->previous)): ?>
            <li>
                <a href="<?php echo $formatUrl($this->previous);  ?>"><i class="entypo-left-open-mini"></i></a>
            </li>    
            <?php else: ?>
            <li class="disabled">
                <a href=""><i class="entypo-left-open-mini"></i></a>
            </li>    
            <?php endif; ?>
            
            <!-- Numbered page links -->
            <?php foreach ($this->pagesInRange as $page): ?>
                <?php if ($page != $this->current): ?>
                <li>  
                    <a href="<?php echo $formatUrl($page);  ?>">
                        <?php echo $page; ?>
                    </a>
                </li>    
              <?php else: ?>
                <li class="active">
                    <a href="#"><?php echo $page; ?></a>
                </li>
              <?php endif; ?>
            <?php endforeach; ?>
                
                
            <!-- Next page link -->
            <?php if (isset($this->next)): ?>
            <li>
                <a href="<?php echo $formatUrl($this->next);  ?>">
                    <i class="entypo-right-open-mini"></i>
                </a>
            </li>    
            <?php else: ?>
            <li class="disabled">
                <a href="#"><i class="entypo-right-open-mini"></i></a>
            <li>  
            <?php endif; ?>
        </ul>
    </div>

    <?php endif; ?>

</center>

<br/><br/>