<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<?php echo $this->headTitle('Manager - Site')->setSeparator(' - ')->setAutoEscape(false) ?>

<link rel="stylesheet" href="/manager-files/css/style.default.css" type="text/css" />
<link rel="stylesheet" href="/manager-files/css/style.shinyblue.css" type="text/css" />

<script type="text/javascript" src="/manager-files/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/manager-files/js/jquery-migrate-1.1.1.min.js"></script>
<script type="text/javascript" src="/manager-files/js/jquery-ui-1.9.2.min.js"></script>
<script type="text/javascript" src="/manager-files/js/modernizr.min.js"></script>
<script type="text/javascript" src="/manager-files/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/manager-files/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/manager-files/js/custom.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery('#email').click(function(){
            var u = jQuery('#email').val();
            if(u == '' && p == '') {
                jQuery('.login-alert').fadeIn();
                return false;
            }
        });
        
        var message = '<?php echo $this->message ?>';
        if(message != '') {
            jQuery('.login-alert').fadeIn();
        }
        
        jQuery('#email').focus();
    });
</script>
</head>

<body class="loginpage">

<div class="loginpanel">
    <div class="loginpanelinner">
        <!--
        <div class="logo bounceIn"><img src="/manager-files/images/logo.png" alt="" /></div>
        -->
        <?php
        $form = $this->form;
        $form->setAttribute('id', 'login' );

        $form->prepare();
        echo $this->form()->openTag($form);
        ?>

            <div class="inputwrapper login-alert">
                <div class="alert alert-error">Usuário ou senha inválidos!</div>
            </div>
            <div class="inputwrapper bounceIn">
                <?php 
                echo $this->formInput($form->get('email'));
                ?>
            </div>
            
            <div class="inputwrapper bounceIn">
                <button name="submit" id="send-login">Enviar</button>
                
            </div>
            
            <div class="inputwrapper bounceIn">
                <label><a href='<?php $this->url('user-recover-password'); ?>' style='color:#FFF;'>Voltar</a></label>
            </div>
            
        <?php echo $this->form()->closeTag(); ?>
        <script>
        $(function() {
            $('input[name=username]').focus();
        });
        </script>

    </div><!--loginpanelinner-->
</div><!--loginpanel-->

<div class="loginfooter">
    <p>&copy; <?php echo date('Y');  ?>. Manager - Site&#174;. Todos os direitos reservados.</p>
</div>

</body>
</html>
