<div class="pageheader">
    <form action="results.html" method="post" class="searchbar">
        <input type="text" name="keyword" placeholder="Buscar..." />
    </form>
    <div class="pageicon"><span class="iconfa-list-alt"></span></div>
    <div class="pagetitle">
        <h5>Categoria para posts</h5>
        <h1>Categoria</h1>
    </div>
</div><!--pageheader-->

<div class="maincontent">
    <div class="maincontentinner">
        <div class="row-fluid">
            <div class="span5">
                <div class="widgetbox">
                    <h4 class="widgettitle"><span class="iconfa-briefcase"></span>Adiconar nova Categoria</h4>
                    <div class="widgetcontent wc1">
                        <?php
                        $form = $this->form;
                        $form->prepare();
                        $form->setAttribute('class', 'stdform');
                        $form->setAttribute('role', 'form');
                        echo $this->form()->openTag($form);
                        ?>
                        <p>
                            <label><?php echo $this->formLabel($form->get('title')) ?></label>
                            <span class="field">
                                <?php echo $this->formInput($form->get('title')); ?>
                            </span>
                        </p>
                        <p>
                            <label><?php echo $this->formLabel($form->get('slug')) ?></label>
                            <span class="field">
                                <?php echo $this->formInput($form->get('slug')); ?>
                            </span>
                        </p>
                        <p>
                            <label><?php echo $this->formLabel($form->get('post_category_id')) ?></label>
                            <span class="field">
                                <?php echo $this->formSelect($form->get('post_category_id')) ?>
                            </span>
                        </p>
                        <p>
                            <label><?php echo $this->formLabel($form->get('description')) ?></label>
                            <span class="field">
                                <?php echo $this->formTextarea($form->get('description')) ?>
                            </span> 
                        </p>

                        <p class="stdformbutton">
                            <?php echo $this->formSubmit($form->get('submit')); ?>
                        </p>
                        <?php echo $this->form()->closeTag(); ?>
                    </div><!--widgetcontent-->
                </div><!--widget-->
            </div>
            <div class="span7">

                <div class="widgetbox">
                    <h4 class="widgettitle"><span class="icon-list-alt icon-white"></span>Categorias Cadastradas</h4>
                    <div class="widgetcontent wc1">
                        <table id="dyntable" class="table table-bordered responsive">
                            <colgroup>
                                <col class="con0" />
                                <col class="con1" />
                                <col class="con0" />
                                <col class="con1" />
                                <col class="con0" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="head0">Tags</th>
                                    <th class="head1">Slug</th>
                                    <th class="head1">Descrição</th>
                                    <th class="head1 center">Editar</th>
                                    <th class="head0 center">Remover</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="gradeX">
                                    <td>Planos</td>
                                    <td>planos</td>
                                    <td></td>
                                    <td class="centeralign"><a href="" class="deleterow"><span class="icon-pencil"></span></a></td>
                                    <td class="centeralign"><a href="" class="deleterow"><span class="icon-trash"></span></a></td>
                                </tr>
                                <tr class="gradeX">
                                    <td>Equipamentos</td>
                                    <td>equipamentos</td>
                                    <td></td>
                                    <td class="centeralign"><a href="" class="deleterow"><span class="icon-pencil"></span></a></td>
                                    <td class="centeralign"><a href="" class="deleterow"><span class="icon-trash"></span></a></td>
                                </tr>
                                <tr class="gradeX">
                                    <td>Equipamentos <span class="icon-arrow-right"></span>Equipamentos Odontológicos</td>
                                    <td>equipamentos <span class="icon-arrow-right"></span>equipamentos-odontologicos</td>
                                    <td></td>
                                    <td class="centeralign"><a href="" class="deleterow"><span class="icon-pencil"></span></a></td>
                                    <td class="centeralign"><a href="" class="deleterow"><span class="icon-trash"></span></a></td>
                                </tr>
                                <tr class="gradeX">
                                    <td>Cirurgias</td>
                                    <td>cirurgias</td>
                                    <td></td>
                                    <td class="centeralign"><a href="" class="deleterow"><span class="icon-pencil"></span></a></td>
                                    <td class="centeralign"><a href="" class="deleterow"><span class="icon-trash"></span></a></td>
                                </tr>
                                <tr class="gradeX">
                                    <td>Proteses Dentárias</td>
                                    <td>proteses-dentarias</td>
                                    <td></td>
                                    <td class="centeralign"><a href="" class="deleterow"><span class="icon-pencil"></span></a></td>
                                    <td class="centeralign"><a href="" class="deleterow"><span class="icon-trash"></span></a></td>
                                </tr>
                                <tr class="gradeX">
                                    <td>teste</td>
                                    <td>teste</td>
                                    <td></td>
                                    <td class="centeralign"><a href="" class="deleterow"><span class="icon-pencil"></span></a></td>
                                    <td class="centeralign"><a href="" class="deleterow"><span class="icon-trash"></span></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!--widgetcontent-->
                </div><!--widget-->

            </div>
        </div>
    </div>
</div>