<hr />

<ol class="breadcrumb bc-3" >
    <li>
        <a href="index.html"><i class="fa-home"></i>Home</a>
    </li>
    <li class="active">
        <strong>Recursos</strong>
    </li>
</ol>

<h2>Editar Recurso</h2>
<br />

<?php
$form = $this->form;
$form->prepare();
$form->setAttribute('class', 'form-horizontal form-groups-bordered');
$form->setAttribute('role', 'form');
?>


<div class="row">
    <div class="col-md-12">
        
        <?php if(count($form->getMessages() ) > 0): ?>
        <div class="alert alert-danger">
            <strong>Alerta!</strong>
            Verifique os campos abaixa e reenvie novamente os dados.
        </div>
        <?php endif; ?>
        
        <div class="panel panel-primary" data-collapsed="0">
            
            <div class="panel-heading">
                
                <div class="panel-title">
                    Dados
                </div>
                
            </div>

            <div class="panel-body">
                <?php
                echo $this->form()->openTag($form);
                ?>
                    <?php echo $this->formHidden($form->get('id')); ?>
                    
                    <?php echo $this->renderField($form->get('alias')); ?>
                    
                    <?php echo $this->renderField($form->get('name')); ?>
                    
                    <?php echo $this->renderField($form->get('display')); ?>
                    
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-5">
                                <button type="submit" class="btn btn-default btn-green">Salvar</button>
                        </div>
                    </div>
                    
                <?php echo $this->form()->closeTag(); ?>

            </div>

        </div>

    </div>
</div>
