<div class="pageheader">
    <div class="pageicon"><span class="iconfa-table"></span></div>
    <div class="pagetitle">
        <h5>Recursos</h5>
        <h1>Lista de Recursos</h1>
    </div>
</div><!--pageheader-->

<div class="maincontent">
    <div class="maincontentinner">
      
    <?php if($this->message != ''):  ?>
        <div class="alert alert-success" id="box-message-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <?php echo $this->message; ?>
        </div>
        
        <script>
        function hideMessage()
        {
            jQuery("#box-message-success").slideUp();
        }
            
        jQuery(function() {
            window.setTimeout(hideMessage, 4000);
        });
        </script>
    <?php endif;  ?>
        
        <a href="<?php echo $this->url('manager',array('controller' => 'privileges')); ?>" 
                 class="btn btn-info btn-rounded">Privilégios</a>    
                 
        <a href="<?php echo $this->url('manager', array('controller' => 'resources',
                                                             'action' => 'update-list-resources-controller')); ?>" 
                 class="btn btn-info btn-rounded">Atualizar Recursos</a>
                 
            
            
        <h4 class="widgettitle"><span class="icon-pencil icon-white"></span>Grupos</h4>
        
        <table id="table" class="table table-bordered responsive">
            
            <colgroup>
                <col class="con0" />
                <col class="con1" />
                <col class="con0" />
            </colgroup>
       
        <thead>     
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Mostra no Menu?</th>
            <th>Ação</th>
        </tr>
        </thead>
        
        <tbody>
        <?php foreach($this->data as $entity): ?>
        <tr>
            <td><?php echo $entity->getId(); ?></td>
            <td><?php echo $entity->getName(); ?></td>
            <td><?php echo ($entity->getDisplay() == 1) ? 'Sim' : 'Não'; ?></td>
            <td>
                <a href="<?php echo $this->url('manager-internal',
                        array('controller'=>'resources','action'=>'edit','id' => $entity->getId())); ?>">Editar</a>
                -
                <a href="<?php echo $this->url('manager',
                        array('controller'=>'privileges')); ?>?resource=<?php echo $entity->getId(); ?>">Privilégios</a>
                -
                <a href="<?php echo $this->url('manager-internal',
                        array('controller'=>'resources','action'=>'delete','id' => $entity->getId())); ?>">Deletar</a>
            </td>        
        </tr>
        <?php endforeach; ?>
        </tbody>
        </table>
        
        <br>
        <?php echo $this->paginationControl($this->data, 'Sliding', 'paginator'); ?>
        <br>
        
    </div>
</div>